Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/update
  - starlingx/fault
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/update
  - starlingx/fault
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pylint:
  parent: tox
  description: 'Run pylint test for cgts-client
  
    '
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pylint
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Config file changes for packages relocated to repo 'monitor-armada-app'
  centos_pkg_dirs
  centos_pkg_dirs_containers
Due: none

Config file changes for packages relocated to repo 'openstack-armada-app'
  centos_pkg_dirs
  centos_pkg_dirs_containers
Due: none

Config file changes for packages relocated to repo 'utilities'
  centos_iso_image.inc
  centos_pkg_dirs
Due: none

Config file changes to add 'tsconfig' after relocation from 'update'
  centos_dev_wheels.inc
  centos_iso_image.inc
  centos_pkg_dirs
  centos_stable_wheels.inc
  controllerconfig/controllerconfig/tox.ini
  sysinv/cgts-client/cgts-client/tox.ini
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Config file changes for packages relocated to repo 'stx-puppet'
  centos_iso_image.inc
  centos_pkg_dirs
Due: none

Relocated some packages to repo 'monitor-armada-app'
  kubernetes/applications/stx-monitor/stx-monitor-helm/centos/build_srpm.data
  kubernetes/applications/stx-monitor/stx-monitor-helm/centos/stx-monitor-helm.spec
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/Makefile
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/README
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/files/index.yaml
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/files/repositories.yaml
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/manifests/monitor_manifest.yaml
Due: none

Config file changes for packages relocated to repo 'platform-armada-app'
  centos_iso_image.inc
  centos_pkg_dirs
Due: none

Relocated some packages to repo 'utilities'
  pm-qos-mgr/centos/build_srpm.data
  pm-qos-mgr/centos/pm-qos-mgr.spec
  pm-qos-mgr/src/LICENSE
  pm-qos-mgr/src/pm-qos-mgr.service
  pm-qos-mgr/src/pm_qos_mgr/__init__.py
  pm-qos-mgr/src/pm_qos_mgr/pm_qos_mgr.py
  pm-qos-mgr/src/setup.cfg
  pm-qos-mgr/src/setup.py
  worker-utils/.gitignore
  worker-utils/centos/build_srpm.data
  worker-utils/centos/worker-utils.spec
  worker-utils/worker-utils/LICENSE
  worker-utils/worker-utils/Makefile
  worker-utils/worker-utils/affine-interrupts.sh
  worker-utils/worker-utils/affine-platform.sh
  worker-utils/worker-utils/affine-platform.sh.service
  worker-utils/worker-utils/affine-tasks.service
  worker-utils/worker-utils/affine-tasks.sh
  worker-utils/worker-utils/cpumap_functions.sh
  worker-utils/worker-utils/cpumap_functions_unit_test.sh
  worker-utils/worker-utils/ps-sched.sh
  worker-utils/worker-utils/set-cpu-wakeup-latency.sh
  worker-utils/worker-utils/task_affinity_functions.sh
  worker-utils/worker-utils/topology
  worker-utils/worker-utils/topology.py
  worker-utils/worker-utils/worker-goenabled.sh
  worker-utils/worker-utils/worker_reserved.conf
Due: none

Relocated some packages to repo 'helm-charts'
  kubernetes/helm-charts/node-feature-discovery/Chart.yaml
  kubernetes/helm-charts/node-feature-discovery/README.rst
  kubernetes/helm-charts/node-feature-discovery/templates/namespace.yaml
  kubernetes/helm-charts/node-feature-discovery/templates/node-feature-discovery-daemonset.json.tpl
  kubernetes/helm-charts/node-feature-discovery/templates/rbac.yaml
  kubernetes/helm-charts/node-feature-discovery/values.yaml
Due: none

Relocated some packages to repo 'platform-armada-app'
  kubernetes/README
  kubernetes/helm-charts/ceph-pools-audit/Chart.yaml
  kubernetes/helm-charts/ceph-pools-audit/requirements.yaml
  kubernetes/helm-charts/ceph-pools-audit/templates/bin/_ceph-pools-audit.sh.tpl
  kubernetes/helm-charts/ceph-pools-audit/templates/confimap-bin.yaml
  kubernetes/helm-charts/ceph-pools-audit/templates/job-ceph-pools-audit.yaml
  kubernetes/helm-charts/ceph-pools-audit/values.yaml
  kubernetes/helm-charts/rbd-provisioner/Chart.yaml
  kubernetes/helm-charts/rbd-provisioner/README.md
  kubernetes/helm-charts/rbd-provisioner/examples/multi-pool-storage.yaml
  kubernetes/helm-charts/rbd-provisioner/examples/single-pool-storage.yaml
  kubernetes/helm-charts/rbd-provisioner/requirements.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrole.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/daemonset.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/role.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/rolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  kubernetes/platform/stx-platform/stx-platform-helm/centos/build_srpm.data
  kubernetes/platform/stx-platform/stx-platform-helm/centos/stx-platform-helm.spec
  kubernetes/platform/stx-platform/stx-platform-helm/stx-platform-helm/Makefile
  kubernetes/platform/stx-platform/stx-platform-helm/stx-platform-helm/README
  kubernetes/platform/stx-platform/stx-platform-helm/stx-platform-helm/files/index.yaml
  kubernetes/platform/stx-platform/stx-platform-helm/stx-platform-helm/files/metadata.yaml
  kubernetes/platform/stx-platform/stx-platform-helm/stx-platform-helm/files/repositories.yaml
  kubernetes/platform/stx-platform/stx-platform-helm/stx-platform-helm/manifests/manifest.yaml
  tox.ini
Due: none

Update tox.ini for relocated dependencies
  .zuul.yaml
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Minor zuul and tox file cleanup after manifest re-org
  .gitignore
  .zuul.yaml
  controllerconfig/controllerconfig/tox.ini
  sysinv/cgts-client/cgts-client/tox.ini
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add cgts-client specfile for opensuse
  sysinv/cgts-client/opensuse/cgts-client.changes
  sysinv/cgts-client/opensuse/cgts-client.spec
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Retry puppet runtime apply in case of missing info
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add fm-rest-api chart to armada system
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/fm_rest_api.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Elastic: Remove references to stx release prefix
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update default hugepage size in grub
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

B&R: Add /v1/ihosts/wipe_osds public sysinv API
  sysinv/sysinv/sysinv/sysinv/api/config.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

reject if system cmd issue multi value for same attribute
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Move Helm chart repo refresh from Sysinv conductor to agent
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

rbd-provisioner replicas match unlocked controllers
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

re-apply platform apps when controller state changes
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Elastic: Set system fields and indices
  sysinv/sysinv/sysinv/sysinv/helm/elastic.py
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/logstash.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix up storage_config script for rpmlint failures
  storageconfig/storageconfig/storage_config
Due: none

Support for NTP/PTP coexistence
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/intp_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_shell.py
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ntp.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/092_clock_synchronization.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/objects/ntp.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add spec & change files for openSUSE
  storageconfig/opensuse/storageconfig.changes
  storageconfig/opensuse/storageconfig.spec
  sysinv/cgts-client/opensuse/cgts-client.spec
  sysinv/sysinv-agent/opensuse/sysinv-agent.changes
  sysinv/sysinv-agent/opensuse/sysinv-agent.spec
  sysinv/sysinv/opensuse/sysinv.changes
  sysinv/sysinv/opensuse/sysinv.spec
  tsconfig/opensuse/tsconfig.changes
  tsconfig/opensuse/tsconfig.spec
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add bmc access method as service parameter
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

subcloud add bootstrap does not take IPv6 address
  controllerconfig/controllerconfig/controllerconfig/tests/test_region_config.py
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
  controllerconfig/controllerconfig/controllerconfig/utils.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

openSUSE: Open Build Service Artifacts
  config-gate/opensuse/config-gate.changes
  config-gate/opensuse/config-gate.spec
  workerconfig/opensuse/workerconfig.changes
  workerconfig/opensuse/workerconfig.spec
Due: none

Eliminate unnecessary imported modules
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/037_multi_storage_backend.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/039_rpm_to_idisk.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/044_istorconfig_restructure.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/045_action_state.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/051_https_security.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/055_partition_device_node.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/057_update_region_config_flag.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/060_storage_external.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/063_address_pool.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/064_certificate.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/065_storage_tiers.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/071_storage_ceph_external.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/073_kube_application.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/076_host_label.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/078_interface_class.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/081_helm_overrides.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/089_host_fs.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

rbd-provisioner storage class exclude 3rd monitor
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Disable duplicate address detection when using duplex-direct
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add shebang header to force failure if run
  tsconfig/tsconfig/scripts/tsconfig
Due: none

Add capability to specify null image tags for kube apps
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack_version_check.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

remove flag fault_management_pod_disabled
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Eliminate unnecessary imported modules
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/ceph_pools_audit.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch.py
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/helm_toolkit.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/ingress.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/kibana.py
  sysinv/sysinv/sysinv/sysinv/helm/kube_state_metrics.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_generic.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_platform.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
  sysinv/sysinv/sysinv/sysinv/helm/memcached.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
  sysinv/sysinv/sysinv/sysinv/helm/nginx_ingress.py
  sysinv/sysinv/sysinv/sysinv/helm/nginx_ports_control.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
  sysinv/sysinv/sysinv/sysinv/helm/swift.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Expose the novncproxy port
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*
