Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py36:
  parent: tox
  description: 'Run py36 test for sysinv
  
    '
  nodeset: ubuntu-bionic
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py36
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py36:
  parent: tox
  description: Run py36 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py36
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

config-tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py36:
  parent: tox
  description: Run py36 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: py36
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Re-enable important py3k checks for sysinv
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/agent/lldp/plugin.py
  sysinv/sysinv/sysinv/sysinv/agent/node.py
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ethernet_port.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/partition.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_lvm.py
  sysinv/sysinv/sysinv/sysinv/common/device.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/retrying.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/objects/base.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/common.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Load-import hangs indefinitely causing the upgrade orch to hang
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

automatically add ghcr.io docker registry entries on upgrade
  controllerconfig/controllerconfig/upgrade-scripts/60-svc-param-upgrade.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix ceph pool creation during stx-openstack apply
  sysinv/sysinv/sysinv/sysinv/helm/base.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable v2 protocol once monitors are upgraded
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Ceph Nautilus Upgrade Script
  controllerconfig/controllerconfig/upgrade-scripts/81-upgrade-ceph.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update straw algorithm
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-controller-model.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-storage-model.txt
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Force v1 protocol in monitors during upgrade
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove mon_host msgr v1 setting on upgrade activate
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Switch dependencies from rsyslog to syslog-ng
  sysinv/cert-alarm/debian/deb_folder/control
  sysinv/cert-mon/debian/deb_folder/control
  sysinv/sysinv-fpga-agent/debian/deb_folder/control
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support upgrades with 30GB partition
  controllerconfig/controllerconfig/upgrade-scripts/09-resize-for-platform-backup.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Audit for deleted certificates
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Verify OpenStack version to activate agent service
  sysinv/sysinv/sysinv/sysinv/puppet/pci_irq_affinity.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add a new validation function
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix typo
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

cleanup pylint error: dangerous-default-value
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/wrapping_formatters.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/helm.py
  sysinv/cgts-client/cgts-client/pylint.rc
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix issue on secure_system.yaml not being updated
  sysinv/sysinv/sysinv/sysinv/conductor/keystone_listener.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Refactor code to update entity_id in cert-alarm
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove sysinv kube-apiserver upgrade params apply
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handle exceptions in sysinv due to missing service parameters
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Skip storage nodes when listing per-host k8s upgrade info
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_host_upgrade.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix tox certificate issues in python2
  controllerconfig/controllerconfig/controllerconfig/config_management.py
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/sysinv/__init__.py
  sysinv/sysinv/sysinv/tox.ini
  tsconfig/tsconfig/tox.ini
  tsconfig/tsconfig/tsconfig/__init__.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8

[PTP dual NIC config] Generate ptp hieradata
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix ssl & docker cert alarms
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cleanup pylint error: logging_not_lazy
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
  sysinv/cgts-client/cgts-client/pylint.rc
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add timeout and logs when enabling msgr2 during upgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Preserve states for functional user and bmc image
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/cgts-client/cgtsclient/v1/device_image.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/device_image_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/device_image.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/123_device_image_bmc.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/device_image.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device_image.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Removing unused variables passed to platform/ceph.pp
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix erroneous networking upgrade error message
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove force option for k8s rootca update complete/abort
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_rootca_update_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_rootca_update.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_rootca_update_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_rootca_update.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Using general naming for app openstack
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host_fs.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support upgrades with additional partition types
  controllerconfig/controllerconfig/upgrade-scripts/09-resize-for-platform-backup.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Support SX upgrades starting with 30GB partition
  sysinv/sysinv/sysinv/scripts/validate-platform-backup.sh
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cleanup pylint error: redefined-outer-name
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/device_label_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/idisk.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ipv.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/isystem.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/partition.py
  sysinv/cgts-client/cgts-client/pylint.rc
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Align reconfigure_service_endpoints RPC timeout
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Apply runtime class for kube-apiserver when installing ca cert
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add validation of special chars on system values
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_system.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Disable cert-alarm service
  sysinv/cert-alarm/debian/deb_folder/rules
Due: none

Disable cert-mon service
  sysinv/cert-mon/debian/deb_folder/rules
Due: none

Remap service params to control lockout config
  controllerconfig/controllerconfig/upgrade-scripts/60-svc-param-upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
