Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Update sysinv and charts default image to new tags
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/values.yaml
  kubernetes/helm-charts/garbd/values.yaml
  sysinv/sysinv/sysinv/sysinv/helm/common.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Neutron Network Rebalancing on DHCP Agents
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Remove ingress http port helm override
  sysinv/sysinv/sysinv/sysinv/helm/ingress.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix application-apply of stx-openstack on simplex
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: puppet-manifests-lint

REST API doc update for system certificate
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Cluster network cleanup
  puppet-manifests/src/modules/platform/manifests/config.pp
Due: puppet-manifests-lint

Register configuration for ovsdb-server and ovs-vswitchd with pmon daemon
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
Due: puppet-manifests-lint

Update kubernetes, tiller and calico
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb.orig
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubelet.conf.erb
  puppet-manifests/src/modules/platform/templates/rbac-kdd.yaml.erb
Due: puppet-manifests-lint

Fix the image download issue if unknown image ever specified
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove pike/master files
  centos_pike_wheels.inc
Due: none

Move the image specification to the armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/barbican.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/ceph_pools_audit.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/ironic.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/magnum.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update the default image tags in the manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Provision dbmon for AIO-DX and DC systemcontroller
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Remove puppet SM calls for obsoleted services
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/postgresql.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Sysinv helm: move _get_host_cpu_list to base class
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove swift endpoints from baremetal
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Armada manifest updates for chart rebase
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Adjust number of mariadb server pods
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Further increase tolerance for declaring neutron agents down
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Container pinning on worker nodes and All-in-one servers
  puppet-manifests/src/modules/platform/lib/facter/platform_res_mem.rb
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/systemd-system-cpuaffinity.conf.erb
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  worker-utils/worker-utils/affine-platform.sh
  worker-utils/worker-utils/affine-tasks.sh
  worker-utils/worker-utils/cpumap_functions.sh
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Configure SM to monitor cluster-host-ip
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Remove img-conversions and gnocchi platform logical volumes
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_lvm.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Upversion Armada SHA to be a newer image
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/vars/main.yml
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-modules-wrs/puppet-sysinv/centos/build_srpm.data
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Compute labels assigned to worker nodes by default
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Convert calico to use non typha config
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb.orig
Due: puppet-manifests-lint

Fix an issue with libvirt pods not starting
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Disable PHC sanity check in case of software PTP mode.
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/templates/phc2sys.pmon.conf.erb
  puppet-manifests/src/modules/platform/templates/phc2sys.service.erb
  puppet-manifests/src/modules/platform/templates/ptp4l.conf.erb
  puppet-manifests/src/modules/platform/templates/ptp4l.pmon.conf.erb
  puppet-manifests/src/modules/platform/templates/ptp4l.service.erb
Due: puppet-manifests-lint

vswitch optionality on worker node
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix kubernetes k8s-infra cpuset.cpus mangled values
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Cleaning up panko from bare metal
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.can_ips
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/panko.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Remove neutron runtime manifest from update_vswitch_type
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove a manifest wait when setting up ovs-dpdk pods
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Renaming deprecated options and updating spec requirements
  controllerconfig/centos/controllerconfig.spec
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/init.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/init.pp
  puppet-modules-wrs/puppet-fm/src/fm/manifests/init.pp
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-modules-wrs-lint

fix two coredns pod in simplex system
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: puppet-manifests-lint

Make Ceph the default Storage Backend
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/files/populate_initial_config.py
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_ceph_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_lvm_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_node_cinder_lvm_config.rb
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/templates/ceph.osd.create.erb
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Network agent rebalance/reschedule config changes
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix SM cluster_host_ip service
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Create Calico host endpoint and policies
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/platform/manifests/firewall.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico_oam_if_gnp.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico_oam_if_hep.yaml.erb
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint
