Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Add region name support for VIM hieradata
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

deploy activate, keystone db migration script
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/upgrade-scripts/03-activate-keystone.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix support for generic StarlingX apps
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update controller_config to link IPsec config
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Support verify and cert in cgtsclient upload cmd
  sysinv/cgts-client/cgts-client/cgtsclient/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update yaml load to use specified loader
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Improvement log error indicating namespace not found
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve robustness of ipsec-config's ocf script
  sysinv/ipsec-auth/files/ipsec-config
Due: none

Add/delete/modify storage-backend for ceph-rook
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update ceph-mon API to be only applicable to Ceph
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement Ansible bootstrap with dual-stack support for non-DC systems
  controllerconfig/controllerconfig/upgrade-scripts/81-create-required-platform-certs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/cmd/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update the controllerfs API to support fs creation/deletion
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_controllerfs.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/controller_fs_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_controller_fs.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Improve sysinv.log messages
  sysinv/sysinv/sysinv/sysinv/cmd/api.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/zmq_rpc/zmq_rpc.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update sw-version
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable optional host-fs ceph filesystem
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/lvg.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update migration scripts logging location
  controllerconfig/controllerconfig/upgrade-scripts/03-activate-keystone.py
  controllerconfig/controllerconfig/upgrade-scripts/05-update-static-hieradata.py
  controllerconfig/controllerconfig/upgrade-scripts/06-create-sysinv-upgrade-entries.py
  controllerconfig/controllerconfig/upgrade-scripts/07-delete-encrypted-fs-service-parameter.sh
  controllerconfig/controllerconfig/upgrade-scripts/08-populate-ihost-sw-version-field.py
  controllerconfig/controllerconfig/upgrade-scripts/11-ldap-users-backup.sh
  controllerconfig/controllerconfig/upgrade-scripts/17-resize-systemcontroller-filesystems.sh
  controllerconfig/controllerconfig/upgrade-scripts/19-recreate-vim-systemcontroller-endpoint.sh
  controllerconfig/controllerconfig/upgrade-scripts/20-barbican-data-migration.sh
  controllerconfig/controllerconfig/upgrade-scripts/21-keystone-data-migration.sh
  controllerconfig/controllerconfig/upgrade-scripts/29-mgmt-network-fqdn-reconfig.py
  controllerconfig/controllerconfig/upgrade-scripts/30-update_network_addrpool_table.py
  controllerconfig/controllerconfig/upgrade-scripts/40-assert-docker-health.sh
  controllerconfig/controllerconfig/upgrade-scripts/62-enable-fluxcd-controllers.py
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  controllerconfig/controllerconfig/upgrade-scripts/67-update-openldap-users.sh
  controllerconfig/controllerconfig/upgrade-scripts/71-upgrade-vault.sh
  controllerconfig/controllerconfig/upgrade-scripts/73-upgrade-portieris.sh
  controllerconfig/controllerconfig/upgrade-scripts/76-remove-armada-if-unused.py
  controllerconfig/controllerconfig/upgrade-scripts/80-remove-psp-autogenerated-policies.py
  controllerconfig/controllerconfig/upgrade-scripts/81-create-required-platform-certs.py
  controllerconfig/controllerconfig/upgrade-scripts/91-upgrade-dm.sh
  controllerconfig/controllerconfig/upgrade-scripts/92-reset-k8s-pki-folder-permissions.sh
  controllerconfig/controllerconfig/upgrade-scripts/93-update-mgmt-ipsec-flag.py
  controllerconfig/controllerconfig/upgrade-scripts/94-capabilities-column-cleaning.py
  controllerconfig/controllerconfig/upgrade-scripts/95-watch-apps-upgrade.sh
  controllerconfig/controllerconfig/upgrade-scripts/96-adjust-subcloud-deploy-state.py
  controllerconfig/controllerconfig/upgrade-scripts/97-reset-config-target.py
  controllerconfig/controllerconfig/upgrade-scripts/99-update-sysinv-motd.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add/delete host-stor for new ceph-rook
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add unit test to new ceph-rook
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve reapply evaluation for StarlingX apps
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix host update command by not referencing mgmt_ip
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

New host label to share /dev/vhost-net with pods
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement new API for OAM address pool modification
  sysinv/cgts-client/cgts-client/cgtsclient/v1/address_pool_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iextoam_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_oamnetwork.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Implement new API for Management address pool modification
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/address_pool.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/objects/address.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

New API for Admin address pool modification
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/tests/db/test_network.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Increase socket receive size on IPsec server
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

access usm api via internal endpoint
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable swact in USM deploy abort/rollback scenario
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Kubernetes dual-stack runtime configuration
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Auto-install system-local-ca RCA as trusted
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/rca_cert.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change order of platform certs upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/41-create-required-platform-certs.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update migration to access to-release database
  controllerconfig/controllerconfig/upgrade-scripts/30-update_network_addrpool_table.py
  controllerconfig/controllerconfig/upgrade-scripts/93-update-mgmt-ipsec-flag.py
  controllerconfig/controllerconfig/upgrade-scripts/94-capabilities-column-cleaning.py
  controllerconfig/controllerconfig/upgrade-scripts/96-adjust-subcloud-deploy-state.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Check sw_version for load matching
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix network address populate logic
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/address_pool.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/063_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement Multiple DNS server entries for each family
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/dns.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_dns.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Validate bm_username and bm_password
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

In USM, check host deploy state for patch current
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve address pool range validation error messages
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add replication factor in ceph-rook backend
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add rook-ceph app plugins support
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable host-unlock after USM host rollback
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
