Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Semantic check for proper sriov plugin configuration
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Fix armada operation during upgrades
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support registry.k8s.io docker registry service parameters
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update severity check and cert-alarm override
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Load metadata before clearing stuck application
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support icr.io docker registry service parameters
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix subcloud going offline if certificates expire
  sysinv/sysinv/debian/deb_folder/rules
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fill device_path in ceph_mon table of the sysinv database
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Script to update sysinv/motd in upgrade
  .zuul.yaml
  controllerconfig/controllerconfig/upgrade-scripts/99-update-sysinv-motd.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add system command and periodic audit to transition state
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_upgrade_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Alarm 250.001 persists after first install on sub-cloud
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow activate script to run for 21.12 upgrade
  controllerconfig/controllerconfig/upgrade-scripts/10-update-centos-partition-to-debian.py
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  controllerconfig/controllerconfig/upgrade-scripts/69-update-nfs-ip-address-alias.py
  controllerconfig/controllerconfig/upgrade-scripts/98-sysinv-k8s-apiserver-param-upgrade.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Unstuck loads hung in importing state
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove stale alarms in k8s apps upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Create cluster-host-ipAttach all nodes to the cluster host network
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

DC: Set system controller gateway for admin network
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add resize to /var
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for r/stx.8.0
  .gitreview
Due: none

Update sysinv tox for python3.9
  .zuul.yaml
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/test-requirements.txt
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support secure LDAP upgrade for AIO-DX (n+2)
  controllerconfig/controllerconfig/upgrade-scripts/11-ldap-users-backup.sh
  controllerconfig/controllerconfig/upgrade-scripts/67-update-openldap-users.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove python2 jobs from zuul for this repo
  .zuul.yaml
  controllerconfig/controllerconfig/controllerconfig/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/shell.py
  sysinv/sysinv/sysinv/sysinv/version.py
  tsconfig/tsconfig/tox.ini
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix Keystone cache settings
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

System mode modify fails for duplex systems
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_oam.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/objects/network_oam.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_system.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update state available after size is finalized
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add resize to /
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Check FluxCD pods status before Helm operations
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Defer app reapply evaluation during k8s upgrades
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Kubernetes 1.23.1 upgrade removal of feature-gate "RemoveSelfLink=false"
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Host compute service failure alarm removal
  sysinv/sysinv/sysinv/sysinv/tests/events_for_testing.yaml
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update debian package versions to use git commits
  config-gate/debian/meta_data.yaml
  controllerconfig/debian/meta_data.yaml
  storageconfig/debian/meta_data.yaml
  sysinv/cert-alarm/debian/meta_data.yaml
  sysinv/cert-mon/debian/meta_data.yaml
  sysinv/cgts-client/debian/meta_data.yaml
  sysinv/sysinv-agent/debian/meta_data.yaml
  sysinv/sysinv/debian/meta_data.yaml
  tsconfig/debian/meta_data.yaml
  workerconfig/debian/meta_data.yaml
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add exception clause and logs for subcloud audit
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enhance query_pci_id with DPDK related arguments
  sysinv/sysinv/sysinv/scripts/query_pci_id
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Function to get k8s intermediate patch versions that require upgrade.
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update network interface name length limit, change VLAN OS interface naming rule, refactor tests
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Refactor inventory items for multipath support
  sysinv/sysinv/sysinv/scripts/manage-partitions
  sysinv/sysinv/sysinv/scripts/partition_info.sh
  sysinv/sysinv/sysinv/sysinv/agent/disk.py
  sysinv/sysinv/sysinv/sysinv/agent/partition.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/partition.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add sysinv upgrades support for Kubernetes 1.25.3
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

adjust oidc-auth-apps upgrade logic
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add host support for hwsettle
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/128_hwsettle.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix stale data when checking if configuration out-of-date
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update not ssl_ca certificate removal message
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint
