Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Add missing runtime dependencies to sysinv opensuse spec
  sysinv/sysinv/opensuse/sysinv.spec
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add missing runtime dependencies to sysinv-agent opensuse spec
  sysinv/sysinv-agent/opensuse/sysinv-agent.spec
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

controllerconfig: remove /usr/bin/env
  controllerconfig/controllerconfig/scripts/00-sample-migration.py
  controllerconfig/controllerconfig/scripts/install_clone.py
  controllerconfig/controllerconfig/scripts/keyringstaging
  controllerconfig/controllerconfig/upgrade-scripts/16-neutron-move-bindings-off-controller-1.py
  controllerconfig/controllerconfig/upgrade-scripts/20-sysinv-retire-ceph-cache-tier-sp.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add build rpms zuul job template
  .zuul.yaml
Due: none

add support for intel gpu device plugin
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Assign resource limits to Elastic Components
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/helm/elastic.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_client.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_data.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_master.py
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/kibana.py
  sysinv/sysinv/sysinv/sysinv/helm/kube_state_metrics.py
  sysinv/sysinv/sysinv/sysinv/helm/logstash.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
  sysinv/sysinv/sysinv/sysinv/helm/nginx_ingress.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Elastic: improve elasticsearch-curator index limits
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_curator.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Refactor upgrade re-tries on failure path
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Run sysinv-api as sysinv user and normal groups
  sysinv/sysinv/sysinv/scripts/sysinv-api
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Revert "Refactor upgrade re-tries on failure path"
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Ensure minimal replicas for platform-integ-apps managed apply
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Revert "Run sysinv-api as sysinv user and normal groups"
  sysinv/sysinv/sysinv/scripts/sysinv-api
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix tox in other repos that import sysinv
  sysinv/cgts-client/cgts-client/requirements.txt
  sysinv/cgts-client/cgts-client/test-requirements.txt
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Refactor Host API unit tests
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Configure kubelet CPU manager options via host labels
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_label.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Revert "remove flag fault_management_pod_disabled"
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add license to test_sensorgroup.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_sensorgroup.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add missing opensuse specfile for controllerconfig
  controllerconfig/opensuse/controllerconfig.changes
  controllerconfig/opensuse/controllerconfig.spec
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Adding support for displaying kubernetes versions
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/__init__.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_version.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_version_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_version.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_version_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/cgts-client/cgts-client/tox.ini
  sysinv/sysinv-agent/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_version.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_version.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_version.py
  sysinv/sysinv/sysinv/sysinv/tests/common/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_kube_version.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update system and host field configuration
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Metric set event and rate tuning
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update interface sorting to handle pci ifaces last
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Set uniform PM-QoS value for all cpus on lowlatency nodes
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Support to preserve user overrides when updating app to a new version
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Refactor Interface API unit tests
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Rename cpu assigned_function names
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/icpu.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/icpu_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Allow subcloud to use central-cloud's local registry
  controllerconfig/controllerconfig/scripts/controller_config
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  workerconfig/workerconfig/worker_config
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Reduce system configuration memory reserved defaults
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Traffic control fixes and refresh
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Adjust default elasticsearch data memory size for Standard config
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_data.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Reduce postgres and backup filesystem sizes
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Allow subcloud to use central-cloud's local registry
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Refactor the service parameter "insecure"
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Copy sysinv.config to drbd drive only once
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update armada image reference
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Revert "add support for intel gpu device plugin"
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint
