Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Fix unicode issue for Python 2/3 compatible code.
  sysinv/cgts-client/cgts-client/cgtsclient/exc.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/load.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_infra.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/sensorgroup.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/servicegroup.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/servicenode.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix various issues with helm-override-show
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix helm overrides merge issues
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

adjust argparse metavar for command help function
  sysinv/cgts-client/cgts-client/cgtsclient/v1/address_pool_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/cluster_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Cleaning up after application removal
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Cleanup unused generators and applications
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/nfs_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Package log_functions.sh into platform-util
  compute-huge/compute-huge/log_functions.sh
Due: none

Don't delete nova-ks-endpoint job in nova chart
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Enhancements for the rbd-provisioner helm chart
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/daemonset.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/role.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/rolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Backup and Restore: restore-image failed to read platform.conf
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Enable PXEBoot address range options in config_controller
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.pxeboot
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Add PXEBoot address range options to config GUI util
  configutilities/configutilities/configutilities/configfiletool.py
Due: configutilities-tox-flake8

Update stx branding in horizon local_settings
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

removing link capacity configuration during controller config
  configutilities/configutilities/configutilities/__init__.py
  configutilities/configutilities/configutilities/common/configobjects.py
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  configutilities/configutilities/configutilities/configfiletool.py
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ceph
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.default
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ipv6
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region_nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.can_ips
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.ceph
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.ipv6
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.security
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.simple
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.simplex
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.simplex_mgmt
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.static_addr
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Enabling simultaneous platform and containerized horizon access
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Reconfigure VIM after application remove
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Docker Registry Can't Deploy On Workers
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
Due: none

Block the configuration of non-accelerated interface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

replace end=' ' with end='' for print to file
  controllerconfig/controllerconfig/controllerconfig/clone.py
  controllerconfig/controllerconfig/controllerconfig/tests/test_region_config.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix: "map" issue for Python 2/3 compatible code
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  sysinv/cgts-client/cgts-client/cgtsclient/openstack/common/config/generator.py
  sysinv/sysinv/sysinv/sysinv/api/middleware/auth_token.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/config/generator.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/processutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/common.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_zmq.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/matchmaker_ring.py
  sysinv/sysinv/sysinv/sysinv/tests/stubs.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix: "except" issue for Python 2/3 compatible code
  controllerconfig/controllerconfig/controllerconfig/clone.py
  controllerconfig/controllerconfig/controllerconfig/utils.py
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/processutils.py
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix: "dict" issue for Python 2/3 compatible code
  controllerconfig/controllerconfig/controllerconfig/clone.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/sysinv_api.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/base.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/wrapping_formatters.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/firewallrules.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_lvm.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/cmd/manage-partitions
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/063_address_pool.py
  sysinv/sysinv/sysinv/sysinv/objects/base.py
  sysinv/sysinv/sysinv/sysinv/objects/network_infra.py
  sysinv/sysinv/sysinv/sysinv/objects/network_oam.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/jsonutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/amqp.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/common.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/dispatcher.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_kombu.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_qpid.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/proxy.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/setup.py
  sysinv/sysinv/sysinv/sysinv/tests/api/base.py
  sysinv/sysinv/sysinv/sysinv/tests/base.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_objects.py
  sysinv/sysinv/sysinv/sysinv/tests/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Store puppet config in context
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Standby controller in reboot loop after modifying the partition size
  puppet-manifests/src/modules/platform/templates/partitions.manage.erb
Due: none

Properly enable hacking checks for flake8
  configutilities/configutilities/test-requirements.txt
  configutilities/configutilities/tox.ini
  controllerconfig/controllerconfig/test-requirements.txt
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/test-requirements.txt
  sysinv/sysinv/sysinv/tox.ini
  test-requirements.txt
  tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Fix: "filter" issue for Python 2/3 compatible code
  configutilities/configutilities/configutilities/common/configobjects.py
  controllerconfig/controllerconfig/controllerconfig/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/openstack/common/config/generator.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/sm_service_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/cluster/cluster_services_api.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/safe_utils.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/config/generator.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/eventlet_backdoor.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/matchmaker_redis.py
  sysinv/sysinv/sysinv/sysinv/puppet/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix: "asserts" issue for Python 2/3 compatible code
  sysinv/sysinv/sysinv/sysinv/tests/api/test_acl.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix: others issues for Python 2/3 compatible code
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile_utils.py
  sysinv/sysinv/sysinv/sysinv/cmd/sysinv_deploy_helper.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/safe_utils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/db/sqlalchemy/session.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/jsonutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/log.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_zmq.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix: "StringIO" issue for Python 2/3 compatible code
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/utils.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/log.py
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix: "__builtin__" issue for Python 2/3 compatible code
  sysinv/sysinv/sysinv/sysinv/tests/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
  sysinv/sysinv/sysinv/tools/flakes.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

FIX: oct number issue for Python 2/3 compatible code
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/clone.py
  controllerconfig/controllerconfig/scripts/install_clone.py
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Change compute node to worker node personality
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Set proper permissions on docker filesystem
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
Due: none

Fixing up tox -e cover for stx-config
  .gitignore
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

update multi-node charts to use strict anti-affinity
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

docker images management
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/values.yaml
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Update number of replicas to reflect number of controllers
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Add puppet-lint support
  .zuul.yaml
  playbooks/tox-puppet-lint/pre.yaml
  puppet-manifests/tox.ini
  puppet-modules-wrs/tox.ini
  tox.ini
Due: none
