Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Failed to delete restore_in_progress flag file
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix the host unlock rejection caused by memory check
  sysinv/sysinv/sysinv/sysinv/agent/node.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Restart Docker After Changing Proxy Settings
  puppet-manifests/src/modules/platform/manifests/docker.pp
Due: puppet-manifests-lint

Multus support for IPv6 service endpoint
  puppet-manifests/src/modules/platform/templates/multus.yaml.erb
Due: puppet-manifests-lint

Add an additional check for data interface configuration
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Address allocation option for cluster-host network
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add new kubelet filesystem to doc
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Support to pull container images from authenticated registries
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Configuration out-of-date alarms on storage nodes since fresh install
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Enable Pylint E020X Errors
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/app.py
  sysinv/sysinv/sysinv/sysinv/api/hooks.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/amqp.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_kombu.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove Useless Else on Loop
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/types.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove devstack from zuul for config due to glance issues
  .zuul.yaml
Due: none

Rebase Armada to latest master
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-modules-wrs/puppet-sysinv/centos/build_srpm.data
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

On all armada applies provide --enable-chart-cleanup
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

rabbitmq: change io_thread_pool based on platform cpus
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Generate configuration option to enable numa-aware-vswitches
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Increase rabbitmq pod probe period from 10 to 30s
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Fix ironic interface get issue
  sysinv/sysinv/sysinv/sysinv/helm/ironic.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Resolve issue of operation ceph-mon-add blocked
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Pylint: Enable Check for Dangerous Default Value
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cluster.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/middleware/auth_token.py
  sysinv/sysinv/sysinv/sysinv/common/extension_manager.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/common/service.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/db/exception.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rootwrap/filters.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rootwrap/wrapper.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/setup.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Retry application of managed apps after failure
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/091_kube_app_add_recovery_attempts.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Adding unit tests that exercise helm plugins
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/base.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Support Single huge page size for openstack worker node
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubelet.conf.erb
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Use Zuul templates
  .zuul.yaml
Due: none

Update kubernetes config for 1.15 features.
  api-ref/source/api-ref-sysinv-v1-config.rst
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/ceph-pools-audit/values.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  sysinv/sysinv/sysinv/sysinv/helm/openstack_version_check.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Infrastructure and Cluster Monitoring
  centos_helm.inc
  centos_pkg_dirs
  centos_pkg_dirs_containers
  kubernetes/applications/stx-monitor/stx-monitor-helm/centos/build_srpm.data
  kubernetes/applications/stx-monitor/stx-monitor-helm/centos/stx-monitor-helm.spec
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/Makefile
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/README
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/files/index.yaml
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/files/repositories.yaml
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/manifests/monitor_manifest.yaml
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/elastic.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch.py
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/kibana.py
  sysinv/sysinv/sysinv/sysinv/helm/kube_state_metrics.py
  sysinv/sysinv/sysinv/sysinv/helm/logstash.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
  sysinv/sysinv/sysinv/sysinv/helm/monitor_version_check.py
  sysinv/sysinv/sysinv/sysinv/helm/nginx_ingress.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

SysInv: Host Add MAC Address Message
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Changes to stx-openstack application automatic re-apply behaviour
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Disallow unlock when an application operation is in progress
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

ceilometer for containerized openstack services
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint
