Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Revert "Revert "Changing tiller pod networking settings to improve swact time""
  puppet-manifests/src/modules/platform/manifests/helm.pp
Due: puppet-manifests-lint

Avoid agent mem update during unlocking
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Enable nova service cleaner in helm chart
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Pylint: Enable Unused Import Checking
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_backend.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Restart collectd at the end of configuring cpu
  puppet-manifests/src/modules/platform/manifests/compute.pp
Due: puppet-manifests-lint

Add system application-abort command
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Platform restore for AIO-DX and Standard no-storage configuration
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Add OpenID connect params to kubeadm
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: puppet-manifests-lint

Pylint: Enable Undefined Variable Checking
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Adding back kvm_advance_timer service
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/templates/kvm_timer_advance.conf.erb
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Fix unlocking worker nodes on AIO-DX
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Enable cinder raw cache by default
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Create host state for determining initial inventory complete
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/090_inv_state.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Raise/clear alarms based on Kubernetes app status
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Incorrect reference to Registry port
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Set kubelet certificate rotation to 1 month
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: puppet-manifests-lint

Correct helm override value setting, when the setting value is a digit
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Accept ipv6 addr with brackets in service parameter
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Platform restore for storage configuration
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Refine command ceph-mon-modify for all nodes support
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Configure radosgw and ceph-rgw as optional services
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/files/metadata.yaml
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/swift.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Add checks for dns name in certificate
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/tests/api/data/cert-with-key-CNdifferSAN.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/cert-with-key-CNnoSAN.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/cert-with-key-SAN.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/cert-with-key-invalidDNS.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/cert-with-key-multiSAN.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

limit rabbitmq CPU usage
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

limit ingress CPU usage
  sysinv/sysinv/sysinv/sysinv/helm/ingress.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

add get_platform_cpus
  worker-utils/centos/build_srpm.data
  worker-utils/centos/worker-utils.spec
  worker-utils/worker-utils/cpumap_functions.sh
Due: none

Ceph: update crush map when storage tier is renamed
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix the host unlock rejection caused by memory check
  sysinv/sysinv/sysinv/sysinv/agent/node.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update nova overrides to enable affinity weigher
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Support to pull container images from authenticated registries
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update .gitreview for r/stx.2.0
  .gitreview
Due: none

Fix sysinv handle bmc password cannot be stored case
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Collapse glance into platform in ControllerFS API
  api-ref/source/api-ref-sysinv-v1-config.rst
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/controllerconfig/utils.py
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/network.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/manifests/sysinv.pp
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/controller_fs_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Restart Docker After Changing Proxy Settings
  puppet-manifests/src/modules/platform/manifests/docker.pp
Due: puppet-manifests-lint

Removing unused puppet plugins from sysinv
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/heat.py
  sysinv/sysinv/sysinv/sysinv/puppet/inventory.py
  sysinv/sysinv/sysinv/sysinv/puppet/neutron.py
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/puppet/swift.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Additional unit tests related to puppet configuration
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_puppet.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Make sure to set default_volume_type when only one storage backend
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Revert "Fix sysinv handle bmc password cannot be stored case"
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint
