Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py39:
  parent: tox-py39
  description: 'Run py39 test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: py39
    python_version: 3.9
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py39:
  parent: tox-py39
  description: Run py39 tests for controllerconfig
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py39
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

tsconfig__tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py39:
  parent: tox-py39
  description: Run py39 tests for tsconfig
  nodeset: debian-bullseye
  vars:
    tox_envlist: py39
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Create USM host upgrade entity
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add storage_ceph_rook REST API documentation
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Change upgrade migration scripts sequence
  controllerconfig/controllerconfig/upgrade-scripts/197-reset-config-target.py
  controllerconfig/controllerconfig/upgrade-scripts/198-update-isystem-data.py
  controllerconfig/controllerconfig/upgrade-scripts/199-update-sysinv-motd.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Host-unlock: delete and recreate k8s cluster-info configmap
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Vault pod restart script fixes
  controllerconfig/controllerconfig/upgrade-scripts/83-restart-vault-pods.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Provide app dependency behaviour for deploy activate
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  sysinv/sysinv/sysinv/sysinv/cmd/applications.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Check for certificate existence first
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix #41 script for upgrade rollback
  controllerconfig/controllerconfig/upgrade-scripts/41-create-required-platform-certs.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Health check in k8s commands for #41 upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/41-create-required-platform-certs.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Suppress misleading errors messages on script 65
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix certificate list API with True/False option
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cleanup legacy host_upgrade references
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add certificate REST API documentation
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Add port documentation to platform firewall
  sysinv/sysinv/sysinv/sysinv/common/platform_firewall.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve adding OSD for ceph bare-metal
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add capabilities to host-fs and controller-fs
  controllerconfig/controllerconfig/upgrade-scripts/10-update-filesystems-capabilities.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_controllerfs_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/controller_fs_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/host_fs_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/140_add_hostfs_and_controllerfs_capabilities.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/objects/host_fs.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_controller_fs.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host_fs.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Reattempt and caching platform upgrade state
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/route.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/common/rest_api.py
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_oamnetwork.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_route.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_usm_service.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_puppet.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Return TCP port 8326 to the subcloud firewall
  sysinv/sysinv/sysinv/sysinv/common/platform_firewall.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Adding retries for drbdsync-modify command
  controllerconfig/controllerconfig/upgrade-scripts/06-drbd-update-secure-config.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Handling Kubelet upgrade failures with timeouts
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update status when all ceph mon hosts finish configuration.
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update dnsmasq when subcloud's system-controller-oam pool is modified
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add OSDs without creating a new config_uuid for rook-ceph
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Zuul: Temporary workaround for flake8 issue
  .zuul.yaml
Due: none

Zuul: Removed workaround for flake8 issue
  .zuul.yaml
Due: none

Prevent Kube_app Crash Due to NoneType Variable
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update Postgres Auth and Password Encryption
  controllerconfig/controllerconfig/upgrade-scripts/103-update-psql-roles.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Improvements to application dependency behavior on deploy activate
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  sysinv/sysinv/sysinv/sysinv/cmd/applications.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix IPv6 DHCP lease not being delivered and causing upgrade to fail
  controllerconfig/controllerconfig/scripts/dhcp-renew.sh
  controllerconfig/controllerconfig/upgrade-scripts/04-cleanup-dnsmasq-hosts-file.py
  controllerconfig/controllerconfig/upgrade-scripts/04-renew-pxeboot-dhcp-leases.py
  controllerconfig/debian/deb_folder/rules
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

OCF sysinv-api monitors the service using FQDN
  sysinv/sysinv/sysinv/scripts/sysinv-api
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Make test_kubeapi_health wrapper/decorator function
  controllerconfig/controllerconfig/upgrade-scripts/41-create-required-platform-certs.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Enhance python upgrade scripts robustness to wait for Kubernetes Health.
  controllerconfig/controllerconfig/upgrade-scripts/101-configure-ipsec-on-hosts.py
  controllerconfig/controllerconfig/upgrade-scripts/50-remove-calico-ipip.py
  controllerconfig/controllerconfig/upgrade-scripts/62-enable-fluxcd-controllers.py
  controllerconfig/controllerconfig/upgrade-scripts/63-oidc-service-parameters-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/76-remove-armada-if-unused.py
  controllerconfig/controllerconfig/upgrade-scripts/80-remove-psp-autogenerated-policies.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Disable system upgrade command
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_load.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_load_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/load_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/upgrade_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/load.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_load.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_upgrade.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Command-line application for checking k8s health
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/cmd/kubernetes_health.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add to 65-k8s-app-upgrade.sh a list of apps to ignore
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Correct interface addr-mode config in mixed dual/single-stack nets
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow unlock during rollback
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enhance existing k8s health checks
  controllerconfig/controllerconfig/upgrade-scripts/101-configure-ipsec-on-hosts.py
  controllerconfig/controllerconfig/upgrade-scripts/41-create-required-platform-certs.py
  controllerconfig/controllerconfig/upgrade-scripts/50-remove-calico-ipip.py
  controllerconfig/controllerconfig/upgrade-scripts/62-enable-fluxcd-controllers.py
  controllerconfig/controllerconfig/upgrade-scripts/63-oidc-service-parameters-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/76-remove-armada-if-unused.py
  controllerconfig/controllerconfig/upgrade-scripts/80-remove-psp-autogenerated-policies.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Removing PSP from admission_plugins service parameter
  controllerconfig/controllerconfig/upgrade-scripts/02-remove-psp-service-parameter.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

CertificateRequest not deleted for a deleted host
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
