Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

stx-devstack-config:
  parent: stx-devstack-base
  timeout: 7800
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: functional
    devstack_services:
      horizon: false
      fm-common: true
      fm-api: true
      sysinv-agent: true
      sysinv-api: true
  ...

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pylint:
  parent: tox
  description: 'Run pylint test for cgts-client
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Adding makefile for puppet-manifests
  puppet-manifests/centos/puppet-manifests.spec
  puppet-manifests/src/Makefile
Due: none

Move ceph to use mgmt IP on AIO-SX
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Enable pylint zuul check for configutilities
  .zuul.yaml
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/pylint.rc
  configutilities/configutilities/tox.ini
Due: configutilities-tox-flake8

Create DataNetworks modelling in System Configuration
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Initial firewall config causes temporary packet loss
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/firewall.pp
Due: none

Ceph for standard: Add deployment model to System Inventory cluster API
  sysinv/cgts-client/cgts-client/cgtsclient/v1/cluster_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cluster.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update criteria to determine if stx-openstack is installed
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Update config for release notes to include project name
  releasenotes/source/conf.py
Due: none

Stardandize makefiles for puppet-modules-wrs
  puppet-modules-wrs/puppet-dcmanager/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcmanager/centos/puppet-dcmanager.spec
  puppet-modules-wrs/puppet-dcmanager/src/Makefile
  puppet-modules-wrs/puppet-dcorch/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcorch/centos/puppet-dcorch.spec
  puppet-modules-wrs/puppet-dcorch/src/Makefile
  puppet-modules-wrs/puppet-fm/centos/build_srpm.data
  puppet-modules-wrs/puppet-fm/centos/puppet-fm.spec
  puppet-modules-wrs/puppet-fm/src/Makefile
  puppet-modules-wrs/puppet-mtce/centos/build_srpm.data
  puppet-modules-wrs/puppet-mtce/centos/puppet-mtce.spec
  puppet-modules-wrs/puppet-mtce/src/Makefile
  puppet-modules-wrs/puppet-nfv/centos/puppet-nfv.spec
  puppet-modules-wrs/puppet-nfv/src/Makefile
  puppet-modules-wrs/puppet-nova_api_proxy/centos/build_srpm.data
  puppet-modules-wrs/puppet-nova_api_proxy/centos/puppet-nova_api_proxy.spec
  puppet-modules-wrs/puppet-nova_api_proxy/src/Makefile
  puppet-modules-wrs/puppet-patching/centos/puppet-patching.spec
  puppet-modules-wrs/puppet-patching/src/Makefile
  puppet-modules-wrs/puppet-smapi/centos/puppet-smapi.spec
  puppet-modules-wrs/puppet-smapi/src/Makefile
  puppet-modules-wrs/puppet-sshd/centos/build_srpm.data
  puppet-modules-wrs/puppet-sshd/centos/puppet-sshd.spec
  puppet-modules-wrs/puppet-sshd/src/Makefile
  puppet-modules-wrs/puppet-sysinv/centos/build_srpm.data
  puppet-modules-wrs/puppet-sysinv/centos/puppet-sysinv.spec
  puppet-modules-wrs/puppet-sysinv/src/Makefile
Due: none

Configurable Host HTTP/HTTPS Port Binding
  controllerconfig/centos/build_srpm.data
  controllerconfig/controllerconfig/scripts/controller_config
  puppet-manifests/src/modules/openstack/manifests/horizon.pp
  puppet-manifests/src/modules/openstack/manifests/swift.pp
  puppet-manifests/src/modules/openstack/templates/lighttpd.conf.erb
  puppet-manifests/src/modules/platform/manifests/config.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/patching.pp
  storageconfig/centos/build_srpm.data
  storageconfig/storageconfig/storage_config
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/helm_toolkit.py
  workerconfig/centos/build_srpm.data
  workerconfig/workerconfig/worker_config
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add glance overrides for images pool replication
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix the global_index policy settings for containerized heat
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Remove requires kubelet from affine tasks service
  worker-utils/centos/build_srpm.data
  worker-utils/worker-utils/affine-tasks.service
Due: none

use one mariadb server pod for AIO-DX
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Include Ansible related packages in the ISO
  centos_iso_image.inc
Due: none

Revert "Stardandize makefiles for puppet-modules-wrs"
  puppet-modules-wrs/puppet-dcmanager/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcmanager/centos/puppet-dcmanager.spec
  puppet-modules-wrs/puppet-dcmanager/src/Makefile
  puppet-modules-wrs/puppet-dcorch/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcorch/centos/puppet-dcorch.spec
  puppet-modules-wrs/puppet-dcorch/src/Makefile
  puppet-modules-wrs/puppet-fm/centos/build_srpm.data
  puppet-modules-wrs/puppet-fm/centos/puppet-fm.spec
  puppet-modules-wrs/puppet-fm/src/Makefile
  puppet-modules-wrs/puppet-mtce/centos/build_srpm.data
  puppet-modules-wrs/puppet-mtce/centos/puppet-mtce.spec
  puppet-modules-wrs/puppet-mtce/src/Makefile
  puppet-modules-wrs/puppet-nfv/centos/puppet-nfv.spec
  puppet-modules-wrs/puppet-nfv/src/Makefile
  puppet-modules-wrs/puppet-nova_api_proxy/centos/build_srpm.data
  puppet-modules-wrs/puppet-nova_api_proxy/centos/puppet-nova_api_proxy.spec
  puppet-modules-wrs/puppet-nova_api_proxy/src/Makefile
  puppet-modules-wrs/puppet-patching/centos/puppet-patching.spec
  puppet-modules-wrs/puppet-patching/src/Makefile
  puppet-modules-wrs/puppet-smapi/centos/puppet-smapi.spec
  puppet-modules-wrs/puppet-smapi/src/Makefile
  puppet-modules-wrs/puppet-sshd/centos/build_srpm.data
  puppet-modules-wrs/puppet-sshd/centos/puppet-sshd.spec
  puppet-modules-wrs/puppet-sshd/src/Makefile
  puppet-modules-wrs/puppet-sysinv/centos/build_srpm.data
  puppet-modules-wrs/puppet-sysinv/centos/puppet-sysinv.spec
  puppet-modules-wrs/puppet-sysinv/src/Makefile
Due: none

Fix to Horizon VM launching
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

update vhost-user enabled helm parameter
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Set nova override to enable numa live migration
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Fix cluster host network when mgmt is tagged
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

clean up duplicated code in sysinv/helm
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/barbican.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/ingress.py
  sysinv/sysinv/sysinv/sysinv/helm/ironic.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/magnum.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
  sysinv/sysinv/sysinv/sysinv/helm/memcached.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Add Ceph pools management chart
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/stx-openstack-helm.spec
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/ceph-pools-audit/Chart.yaml
  kubernetes/helm-charts/ceph-pools-audit/requirements.yaml
  kubernetes/helm-charts/ceph-pools-audit/templates/bin/_ceph-pools-audit.sh.tpl
  kubernetes/helm-charts/ceph-pools-audit/templates/confimap-bin.yaml
  kubernetes/helm-charts/ceph-pools-audit/templates/job-ceph-pools-audit.yaml
  kubernetes/helm-charts/ceph-pools-audit/values.yaml
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/ceph_pools_audit.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Move nova static configs to Armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Move cinder static config to Armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Ceph initialization on AIO is done only in 'controller' manifests
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/manifests/storage.pp
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Remove un-necessary exception log
  sysinv/sysinv/sysinv/sysinv/objects/base.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Move cinder static config to Armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Standardize makefiles for puppet-modules-wrs
  puppet-modules-wrs/puppet-dcmanager/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcmanager/centos/puppet-dcmanager.spec
  puppet-modules-wrs/puppet-dcmanager/src/Makefile
  puppet-modules-wrs/puppet-dcorch/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcorch/centos/puppet-dcorch.spec
  puppet-modules-wrs/puppet-dcorch/src/Makefile
  puppet-modules-wrs/puppet-fm/centos/build_srpm.data
  puppet-modules-wrs/puppet-fm/centos/puppet-fm.spec
  puppet-modules-wrs/puppet-fm/src/Makefile
  puppet-modules-wrs/puppet-mtce/centos/build_srpm.data
  puppet-modules-wrs/puppet-mtce/centos/puppet-mtce.spec
  puppet-modules-wrs/puppet-mtce/src/Makefile
  puppet-modules-wrs/puppet-nfv/centos/puppet-nfv.spec
  puppet-modules-wrs/puppet-nfv/src/Makefile
  puppet-modules-wrs/puppet-nova_api_proxy/centos/build_srpm.data
  puppet-modules-wrs/puppet-nova_api_proxy/centos/puppet-nova_api_proxy.spec
  puppet-modules-wrs/puppet-nova_api_proxy/src/Makefile
  puppet-modules-wrs/puppet-patching/centos/puppet-patching.spec
  puppet-modules-wrs/puppet-patching/src/Makefile
  puppet-modules-wrs/puppet-smapi/centos/puppet-smapi.spec
  puppet-modules-wrs/puppet-smapi/src/Makefile
  puppet-modules-wrs/puppet-sshd/centos/build_srpm.data
  puppet-modules-wrs/puppet-sshd/centos/puppet-sshd.spec
  puppet-modules-wrs/puppet-sshd/src/Makefile
  puppet-modules-wrs/puppet-sysinv/centos/build_srpm.data
  puppet-modules-wrs/puppet-sysinv/centos/puppet-sysinv.spec
  puppet-modules-wrs/puppet-sysinv/src/Makefile
Due: none

Configure kubelet.service to be monitored by pmond
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kube-stx-override.conf.erb
  puppet-manifests/src/modules/platform/templates/kubelet-pmond-conf.erb
Due: none

Remove hugepage overrides from nova.conf
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Re-install host failed after http port changed
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Store BMC password in Openstack Barbican instead of keyring.
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/modules/openstack/manifests/barbican.pp
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/barbican.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Update neutron helm override to enable network_segment_ranges
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Update nova helm overrides for PCI alias, passthrough, and SR-IOV
  sysinv/sysinv/sysinv/sysinv/common/interface.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

fix wrong format of NO_PROXY in temp configuration file
  configutilities/configutilities/configutilities/common/validator.py
Due: configutilities-tox-flake8

Mitigate memory leak of sessions by disabling sudo for sriov agent
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix for the issue for with host-delete command failure due to a typo
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix configutilities and controllerconfig installs in DevStack
  .zuul.yaml
  devstack/lib/stx-config
  devstack/settings
Due: stx-devstack-config

Move neutron static configs to Armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Support stx-openstack app install with the authed local registry
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
