Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

.zuul.yaml:

---
- project:
    templates:
      - build-openstack-docs-pti
    check:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    gate:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    post:
      jobs:
        - publish-stx-api-ref
        - publish-stx-tox
        - publish-stx-releasenotes

- job:
    name: sysinv-tox-py27
    parent: tox
    description: |
      Run py27 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: sysinv-tox-flake8
    parent: tox
    description: |
      Run flake8 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: controllerconfig-tox-flake8
    parent: tox
    description: Run flake8 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-py27
    parent: tox
    description: Run py27 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-pylint
    parent: tox
    description: Run pylint tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: pylint
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: configutilities-tox-flake8
    parent: tox
    description: Run flake8 tests for configutilities
    files:
      - configutilities/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c configutilities/configutilities/tox.ini

Updating helm overrides to use new docker image tags
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/common.py
Due: sysinv-tox-py27, sysinv-tox-flake8

sysinv: skip slave network configuration for dpdk interfaces
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update sysinv to handle newer version of python-docker
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Cinder-volumes Volume Group Resize Procedure Failed
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8

[Devstack]change sysinv service type to 'platform'
  devstack/lib/stx-config
Due: none

add sysinv-agent devstack support
  .zuul.yaml
  devstack/lib/stx-config
Due: none

Improve system application commands robustness
  sysinv/cgts-client/cgts-client/cgtsclient/openstack/common/config/generator.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Pull Armada image in the same step as Tiller
  puppet-manifests/src/modules/platform/manifests/helm.pp
Due: none

Enable pep8 and pylint in zuul for cgts-client
  .zuul.yaml
  sysinv/cgts-client/cgts-client/cgtsclient/common/base.py
  sysinv/cgts-client/cgts-client/cgtsclient/openstack/common/config/generator.py
  sysinv/cgts-client/cgts-client/tox.ini
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8

Enable communication from nova-api-proxy to VIM
  configutilities/configutilities/configutilities/common/configobjects.py
  configutilities/configutilities/configutilities/common/validator.py
  configutilities/configutilities/configutilities/configfiletool.py
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.simplex_mgmt
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
  puppet-manifests/src/modules/platform/manifests/network.pp
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Specify timeout when retrieving a docker client
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Properly check if OpenStack is installed
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Updates for nova-api-proxy helm chart
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/service-ingress-api.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/values.yaml
Due: none

Updates overrides for telemetry services
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
Due: sysinv-tox-py27, sysinv-tox-flake8

downgrade calico to v3.1.4 and add IP autodetect
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/rbac-kdd.yaml.erb
Due: none

Provide progress update for upload, apply & remove
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/082_kube_application.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Disable ceph auth in nova/cinder overrides
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Reconfigure VIM after application install
  puppet-manifests/src/modules/platform/manifests/nfv.pp
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Remove support for nova-local lvm backend for compute hosts
  api-ref/source/api-ref-sysinv-v1-config.rst
  puppet-manifests/src/modules/openstack/manifests/nova.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile_shell.py
  sysinv/sysinv/sysinv/etc/sysinv/profileSchema.xsd
  sysinv/sysinv/sysinv/etc/sysinv/sampleProfile.xml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/lvg.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix up puppet dependencies for firewall rules
  puppet-manifests/src/modules/platform/manifests/firewall.pp
Due: none

Allow compute nodes access to private docker image server
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: none

Fix live-migration in containers setup
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

sysinv: reduce minimum allowed vswitch cpu count
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu_utils.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-flake8

puppet-manifests: validate cpu list before setting latencies
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/compute.pp
Due: none

Enhancement for Controller Filesystem Extension
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/lvg.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
Due: sysinv-tox-py27, sysinv-tox-flake8

System application - dual controller support
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

update horizon after timezone modification
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Load the helm plugins dynamically through stevedore
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Glance overrides - increase replicas count
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Decouple Ceph pools creation from sysinv
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrole.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/role.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Barbican configuration thru Puppet and SysInv.
  configutilities/centos/build_srpm.data
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  configutilities/configutilities/configutilities/configfiletool.py
  controllerconfig/centos/build_srpm.data
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/regionconfig.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region_nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.can_ips
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.result
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  puppet-manifests/centos/puppet-manifests.spec
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/manifests/barbican.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/openstack/templates/keystone-policy.json.erb
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/postgresql.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/remotelogging.conf.erb
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/barbican.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Remove container dependencies on sysinv-conductor shutdown
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix haproxy/novnc interaction in containers setup
  puppet-manifests/src/modules/openstack/manifests/nova.pp
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Improve pylint checking in stx-config
  .zuul.yaml
  controllerconfig/controllerconfig/pylint.rc
  sysinv/cgts-client/cgts-client/pylint.rc
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Change openstack-dev to openstack-discuss
  sysinv/sysinv/sysinv/doc/source/dev/contributing.rst
  sysinv/sysinv/sysinv/setup.cfg
Due: sysinv-tox-py27, sysinv-tox-flake8

CEPH support for 2 node configuration
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
  puppet-manifests/src/modules/platform/lib/facter/is_node_ceph_configured.rb
  puppet-manifests/src/modules/platform/lib/facter/is_node_cinder_ceph_config.rb
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-dx.bin
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8

System application - tarfile download support
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Clamp kubernetes at 1.12.3 during init phase
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: none

Fix: "has_key" issue for Python 2/3 compatible code
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8
