Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py39:
  parent: tox-py39
  description: 'Run py39 test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: py39
    python_version: 3.9
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py39:
  parent: tox-py39
  description: Run py39 tests for controllerconfig
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py39
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

tsconfig__tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py39:
  parent: tox-py39
  description: Run py39 tests for tsconfig
  nodeset: debian-bullseye
  vars:
    tox_envlist: py39
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Add docker filesystem class to docker runtime execution
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add pod health status to kube rootca check
  sysinv/cgts-client/cgts-client/cgtsclient/v1/health.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/health_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/health.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_rootca_update.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

MGMT address_pool reconfiguration for AIO-SX
  controllerconfig/controllerconfig/scripts/controller_config
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8

Add flag to update ceph-mon ip due to MGMT reconfiguration
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Upgrade sts-silicom app
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/chart_values_sample.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_kube_app_image_parser.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add instrumentation for kube_upgrade_control_plane
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve kube-rootca-get-id API and error handling
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

disable image gc when doing k8s upgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix FEC pcidp resource generation with expected data
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve PTP phc2sys cmdline_opts handling
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Resolve kubeadm alpha Check in kube-cert-rotation Script
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable upgrade script to create platform certs
  controllerconfig/controllerconfig/upgrade-scripts/81-create-required-platform-certs.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Skip sysinv load update for a USM upgrade
  sysinv/sysinv/sysinv/sysinv/cmd/upgrade.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Avoid self-signed cert creation for HTTPS
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add sysinv upgrades support for Kubernetes 1.28.4
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove k8s 1.27 deprecated command line argument from sysinv unit tests
  sysinv/sysinv/sysinv/sysinv/tests/common/test_etcd.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

add post-down op for vlan's data class interfaces
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Modify Memory Field Names
  sysinv/cgts-client/cgts-client/cgtsclient/v1/imemory_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix missing runtime apply parameter
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Set extra rules for the platform firewalls
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update OAM firewall
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

IP customization for kube_operator
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Updates after the mgmt network reconfiguration
  controllerconfig/controllerconfig/scripts/controller_config
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8

Prevent mgmt gateway overwriting default route
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update k8s application upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Command line method to validate app metadata.
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/cmd/applications.py
  sysinv/sysinv/sysinv/sysinv/common/app_metadata.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Semantic check for proper sriov plugin configuration"
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cleanup obsolete upgrade scripts
  controllerconfig/controllerconfig/upgrade-scripts/09-adjust-debian-multipath-disks-support.py
  controllerconfig/controllerconfig/upgrade-scripts/10-update-centos-partition-to-debian.py
  controllerconfig/controllerconfig/upgrade-scripts/50-validate-oidc-auth-apps.py
  controllerconfig/controllerconfig/upgrade-scripts/61-move-ptp-parameters.py
  controllerconfig/controllerconfig/upgrade-scripts/64-upgrade-cert-manager.sh
  controllerconfig/controllerconfig/upgrade-scripts/68-pod-security-admission-controller-labels.py
  controllerconfig/controllerconfig/upgrade-scripts/69-update-nfs-ip-address-alias.py
  controllerconfig/controllerconfig/upgrade-scripts/70-upgrade-oidc-auth-apps.sh
  controllerconfig/controllerconfig/upgrade-scripts/72-remove-etcd-rbac.sh
  controllerconfig/controllerconfig/upgrade-scripts/90-reset-k8s-key-file-permissions.sh
  controllerconfig/controllerconfig/upgrade-scripts/98-sysinv-k8s-apiserver-param-upgrade.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix upgrade script 81 to support additional port parameter
  controllerconfig/controllerconfig/upgrade-scripts/81-create-required-platform-certs.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Moving apparmor_config_status to latest migration script
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/133_apparmor_config_status.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handling Luks filesystem
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Adding semantic check on deletion of admin-interface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Removed extra steps during upgrade
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Change host config_target when trying to reapply
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Semantic check to avoid creating overlapped address pools
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

remove support for versions of K8s lower than 1.24
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Check duplicate in host-record service parameter
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Set the alarm to update the reason text
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Clear ssl_ca certificate alarm
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Semantic check to avoid creating overlapped address pools
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
