Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py36:
  parent: tox
  description: 'Run py36 test for sysinv
  
    '
  nodeset: ubuntu-bionic
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py36
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py36:
  parent: tox
  description: Run py36 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py36
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

config-tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py36:
  parent: tox
  description: Run py36 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: py36
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Fix no-member errors in legacy sysinv ceph code
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove ObjectListBase from sysinv
  sysinv/sysinv/sysinv/sysinv/objects/base.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_objects.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix no-member for tpm config manifests
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add sysinv upgrades support for Kubernetes 1.26.1
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Add docstring for maintain_attributes
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable config_update_puppet retry for deferred config
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Download Portieris image during upgrade
  controllerconfig/controllerconfig/upgrade-scripts/73-upgrade-portieris.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Recover from pre-upgrade hook timeout
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix malformed output in system health-query
  sysinv/sysinv/sysinv/sysinv/common/health.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

update kubeadm configmap to support k8s upgrade to 1.25.3
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Keep platform-nfs-ip for upgrade process
  controllerconfig/controllerconfig/upgrade-scripts/69-update-nfs-ip-address-alias.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove feature-gate "TTLAfterFinished=true" in K8s 1.25
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove Armada if there are no Armada apps
  controllerconfig/controllerconfig/upgrade-scripts/76-remove-armada-if-unused.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove armada and helm v2
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_hook.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_base.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_generic.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_kube_app_image_parser.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_helm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AIO-SX K8s upgrade optimization: Download multiple image versions
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove migrate_helm_release.py script
  controllerconfig/controllerconfig/scripts/migrate_helm_release.py
  controllerconfig/controllerconfig/upgrade-scripts/63-helm-v2-to-v3-rel_migration.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix for 'Remove migrate_helm_release.py script'
  controllerconfig/centos/controllerconfig.spec
  controllerconfig/debian/deb_folder/rules
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove migrate_helm_release_openstack.py script
  controllerconfig/controllerconfig/scripts/migrate_helm_release_openstack.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Use V1 API for webhooks
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Replay of bootstrap playbook fails providing initial system config
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8

Revert "Remove Armada if there are no Armada apps"
  controllerconfig/controllerconfig/upgrade-scripts/76-remove-armada-if-unused.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Touch .sysinv_reported file at end of inventory audit
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add plugin to extract rpm playbooks from load
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/loads/__init__.py
  sysinv/sysinv/sysinv/sysinv/loads/base.py
  sysinv/sysinv/sysinv/sysinv/loads/extract_files.py
  sysinv/sysinv/sysinv/sysinv/loads/loads.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_utils.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/loads/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/loads/test_base.py
  sysinv/sysinv/sysinv/sysinv/tests/loads/test_extract_files.py
  sysinv/sysinv/sysinv/sysinv/tests/loads/test_loads.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add plugin to extract ostree playbooks from load
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/loads/extract_files.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_utils.py
  sysinv/sysinv/sysinv/sysinv/tests/loads/test_extract_files.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Defer certificate install during app downloading images
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Increase backup and restore lifecycle RPC call timeout
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Truncate drbd cpu mask string to 31 bytes
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu_utils.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Remove log noise for external apps
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Skip ceph partitions on manage-partitions script
  sysinv/sysinv/sysinv/scripts/manage-partitions
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Log and exception handling for platform_nfs_ip
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix hw_settle and disk update during upgrade
  controllerconfig/controllerconfig/upgrade-scripts/09-adjust-debian-multipath-disks-support.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Create pxeboot cfg link for 22.12 pxeinstall only
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix failing tox and zuul for cgtsclient
  .zuul.yaml
  sysinv/cgts-client/cgts-client/pylint.rc
  sysinv/cgts-client/cgts-client/test-requirements.txt
  sysinv/cgts-client/cgts-client/tox.ini
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

assorted kubeadm configmap compatibility issues
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Sanitize SCTPSupport feature gate before upgrading to K8s 1.22
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

fixup for kubeadm cert upload
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add alarm for Restore in progress
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_restore.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

New service parameter for intel_pstate
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Audit local sysadmin user password periodically
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Defer new configs if there are already deferred waiting
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
