Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Use mgmt_ipsec in sysinv for ipsec request check
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Kubernetes periodic audit for cluster health
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix links to LLDP neighbors in API responses for host and port
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/port.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

OTS Token implementation for IPsec Auth
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/objects.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update system:node clusterrolebinding for new host
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Move bootstrap endpoint reconfig from puppet to sysinv
  sysinv/sysinv/sysinv/sysinv/common/barbican_config.py
  sysinv/sysinv/sysinv/sysinv/common/openstack_config_endpoints.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Upgrade health check for Platform Issuer
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ldap.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prevent configuring the Dell Minerva NIC VFs
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Modify Memory Field Names"
  sysinv/cgts-client/cgts-client/cgtsclient/v1/imemory_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix sysinv-helm command.
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Report port and device inventory after the worker manifest
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_pci.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for f/bookworm
  .gitreview
Due: none

Retrieve only the deploy plug-in helm-chart
  controllerconfig/controllerconfig/upgrade-scripts/91-upgrade-dm.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix tsconfig/root constraints file in tox.ini
  doc/requirements.txt
  tox.ini
  tsconfig/tsconfig/requirements.txt
  tsconfig/tsconfig/tox.ini
Due: tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8

Add sysinv upgrades support for Kubernetes 1.29.2
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Upgrade changes to support MGMT FQDN
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/scripts/controller_config
  controllerconfig/controllerconfig/upgrade-scripts/29-mgmt-network-fqdn-reconfig.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ldap.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8

Change cert-alarm service audit behavior
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add robustness to keystone endpoint operations
  sysinv/sysinv/sysinv/sysinv/common/openstack_config_endpoints.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix delete process to apps that have charts disabled
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

New RESTful API and DB schema for network to address-pools.
  sysinv/cgts-client/cgts-client/cgtsclient/v1/network_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_cluster.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/keystone_listener.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/136_network_addresspool.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/network.py
  sysinv/sysinv/sysinv/sysinv/objects/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_keystone_listener.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_platform_firewall.py
  sysinv/sysinv/sysinv/sysinv/zmq_rpc/zmq_rpc.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add mgmt_ipsec flag handling
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement new network-addrpool CLI
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/address_pool.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/network_addrpool.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/network_addrpool_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add CONF option to set default auto_update value
  sysinv/sysinv/sysinv/sysinv/common/app_metadata.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for r/stx.9.0
  .gitreview
Due: none

Implement IPsec Cert-Renewal Operation
  sysinv/sysinv/sysinv/sysinv/cmd/ipsec_client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/config.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Use correct hiera file for downgrade
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix upgrade-script not expecting additional parameter
  controllerconfig/controllerconfig/upgrade-scripts/29-mgmt-network-fqdn-reconfig.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Introduce Puppet variables for primary and secondary pool addresses.
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add IPsec certificates renewal cron job
  sysinv/sysinv/debian/deb_folder/rules
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/scripts/ipsec-cert-renew.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix LDAP issue for DC subcloud
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_rpcapi.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Addition of OTS Token activation procedure
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/objects.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix failed pods not being detected by rootca health check
  sysinv/sysinv/sysinv/sysinv/common/health.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update IPsec IKE daemon log config
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/config.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handle Barbican user during endpoint config
  sysinv/sysinv/sysinv/sysinv/common/openstack_config_endpoints.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow mgmt and admin network reconfig
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add retry robustness for Kubernetes upgrade control plane
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handle FM user during endpoint config
  sysinv/sysinv/sysinv/sysinv/common/openstack_config_endpoints.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Modify Host Personality for attribute max_cpu_mhz_configured
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Expose Kubernetes ApiextensionsV1Api
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix runtime_config_get method to avoid type error
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
