Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py39:
  parent: tox-py39
  description: 'Run py39 test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: py39
    python_version: 3.9
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py39:
  parent: tox-py39
  description: Run py39 tests for controllerconfig
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py39
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

tsconfig__tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py39:
  parent: tox-py39
  description: Run py39 tests for tsconfig
  nodeset: debian-bullseye
  vars:
    tox_envlist: py39
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Implement operator role RBAC for sysinv API
  sysinv/sysinv/sysinv/etc/sysinv/policy.yaml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/registry_image.py
  sysinv/sysinv/sysinv/sysinv/api/hooks.py
  sysinv/sysinv/sysinv/sysinv/api/policies/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/policies/base.py
  sysinv/sysinv/sysinv/sysinv/api/policies/ihosts.py
  sysinv/sysinv/sysinv/sysinv/api/policies/registry_image.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Zuul/Tox: Clip Mock version to 5.1
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for f/trixie
  .gitreview
Due: none

Run grub runtime manifest on kernel modify
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove obsolete upgrade related code for stx-11
  controllerconfig/controllerconfig/scripts/dhcp-renew.sh
  controllerconfig/debian/deb_folder/rules
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Allow address pool overlap between all cluster subnets
  sysinv/sysinv/sysinv/sysinv/common/address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Avoid using the distributed cloud role when updating routes
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

New system service-parameter cli_confirmations
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Keep load data in use
  controllerconfig/controllerconfig/upgrade-scripts/12-create-sysinv-upgrade-entries.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Handle custom actions in host controller api
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/policies/ihosts.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Reuse address DB entry if unused
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prepare sysinv queries for sqlalchemy 1.4 upversion
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/050_consolidated_r4.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/061_ipm.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/072_remove_ceilometer_service_parameter.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change Log Message to Avoid Misunderstanding
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix host runtime config check during during out-of-date audit
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Preserve IPv6 Addresses on Platform Interfaces
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

User confirmation support in the system CLI Framework
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_ihost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_rootca_update_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_upgrade_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_service_parameter_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Avoid using dc role for gw network configuration
  controllerconfig/controllerconfig/upgrade-scripts/13-update-host-address.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/common/address_pool.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add trigger to reapply platform-integ-apps
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Conditional fix and update APPS_NOT_TO_UPDATE list
  controllerconfig/controllerconfig/upgrade-scripts/21-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Provide clear message for RBD secret copy error
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

CIS Benchmark Upgrade/Roll-Back Support
  controllerconfig/controllerconfig/upgrade-scripts/200-cis-benchmark-support.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Reduce service endpoint update time
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Disable NFV-VIM Web Server on upgrade
  controllerconfig/controllerconfig/upgrade-scripts/110-disable-vim-webserver.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Cache USM get api response every 30 seconds
  sysinv/sysinv/sysinv/etc/sysinv/sysinv.conf
  sysinv/sysinv/sysinv/etc/sysinv/sysinv.conf.sample
  sysinv/sysinv/sysinv/sysinv/common/helper.py
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Reduce manifest for reconfiguring service endpoints
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add upgrade script for stx11
  controllerconfig/controllerconfig/upgrade-scripts/06-remove_legacy_upgrade_tables.py
  controllerconfig/controllerconfig/upgrade-scripts/07-populate-ihost-sw-version-field.py
  controllerconfig/controllerconfig/upgrade-scripts/12-create-sysinv-upgrade-entries.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/142_drop_legacy_upgrade_tables.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Implement inter-app dependency behavior support
  sysinv/sysinv/sysinv/sysinv/common/app_dependents.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Increase sssd timeout
  sysinv/sysinv/sysinv/sysinv/puppet/sssd.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update Helm repository file using atomic operation
  sysinv/sysinv/sysinv/sysinv/helm/kustomize_base.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_kustomize_generic.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Ensure configuration is applied before updating control plane status
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

DC decoupling - clean up certmon
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/context.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/messaging.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/service.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/subcloud_audit_queue.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/cmd/cert_mon.py
  sysinv/sysinv/sysinv/sysinv/puppet/certmon.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_subcloud_audit_queue.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for f/portable-dc
  .gitreview
Due: none

Fix recovery process creating wrong .pth files.
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add sysinv support for Kubernetes 1.32.2
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement configurator role RBAC for sysinv API
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/etc/sysinv/policy.yaml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/api/hooks.py
  sysinv/sysinv/sysinv/sysinv/api/policies/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/policies/base.py
  sysinv/sysinv/sysinv/sysinv/api/policies/certificate.py
  sysinv/sysinv/sysinv/sysinv/api/policies/ihosts.py
  sysinv/sysinv/sysinv/sysinv/api/policies/registry_image.py
  sysinv/sysinv/sysinv/sysinv/api/policies/service_parameter.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Upgrade script to configure registry as service param dns host record
  controllerconfig/controllerconfig/upgrade-scripts/12-update-registry-central.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Manager code to set CLI_CONFIRMATIONS in env
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add support for manifest lifecycle during app update
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Configurable FM parameters for PostgreSQL pool
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
