Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

.zuul.yaml:

---
- project:
    templates:
      - build-openstack-docs-pti
    check:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    gate:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    post:
      jobs:
        - publish-stx-api-ref
        - publish-stx-tox
        - publish-stx-releasenotes

- job:
    name: sysinv-tox-py27
    parent: tox
    description: |
      Run py27 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: sysinv-tox-flake8
    parent: tox
    description: |
      Run flake8 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: controllerconfig-tox-flake8
    parent: tox
    description: Run flake8 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-py27
    parent: tox
    description: Run py27 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-pylint
    parent: tox
    description: Run pylint tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: pylint
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: configutilities-tox-flake8
    parent: tox
    description: Run flake8 tests for configutilities
    files:
      - configutilities/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c configutilities/configutilities/tox.ini

Add makefile for compute-huge
  compute-huge/centos/build_srpm.data
  compute-huge/centos/compute-huge.spec
  compute-huge/compute-huge/Makefile
  compute-huge/compute-huge/topology
Due: none

Introduce support for panko chart overrides
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add new configuration for hbs cluster info
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: none

Run neutron agent daemonsets on openvswitch nodes
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8

HPE3PAR passwords stored in plain text in service-parameter-list
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Leverage the stx-update, stx-integ and stx-fault DevStack plugins
  .zuul.yaml
  devstack/lib/stx-config
  devstack/override-defaults
  devstack/plugin.sh
  devstack/settings
Due: none

Update Cinder Helm image overrides
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Kubernetes, VIM label support
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/vim_api.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Mtce: Change SM Port scope to handle AIO config.
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/hieradata/global.yaml
  puppet-manifests/src/modules/platform/manifests/mtce.pp
Due: none

Add makefile for config-gate
  config-gate/centos/config-gate.spec
  config-gate/files/Makefile
Due: none

Armada-Sysinv integration
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/cgts-client/cgts-client/cgtsclient/openstack/common/rootwrap/cmd.py
  sysinv/cgts-client/cgts-client/cgtsclient/openstack/common/rootwrap/wrapper.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/082_kube_application.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_app.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-flake8

Update to user override deleteion to preserve system overrides
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add separate resolv file for kubelet
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: none

Enable StarlingX helm charts for stx-openstack app
  kubernetes/README
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/stx-openstack-helm.spec
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/Makefile
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/README
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/Chart.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/requirements.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/bin/_nova-api-proxy.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/configmap-bin.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/configmap-etc.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/image_repo_sync.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/job-ks-endpoints.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/secret-ingress-tls.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/secret-keystone.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/values.yaml
  kubernetes/helm-charts/nova-api-proxy/charts/helm-toolkit-0.1.0.tgz
  tox.ini
Due: none

Nova Helm Chart Override Generation - Part 2
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix pylint issue exposed by yamllint 1.12.1
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add cgts-client py27 tests to zuul
  .zuul.yaml
Due: none

Add mariadb override to work around unclean shutdown
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Support an Alternative Backup Restore Procedure
  controllerconfig/centos/build_srpm.data
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/common/exceptions.py
  controllerconfig/controllerconfig/controllerconfig/systemconfig.py
  controllerconfig/controllerconfig/controllerconfig/tidy_storage.py
  controllerconfig/controllerconfig/setup.py
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix basestring issue for Python 2/3 compatible code.
  sysinv/cgts-client/centos/cgts-client.spec
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/openstack/common/config/generator.py
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/sysinv/objects/utils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/config/generator.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/jsonutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/notifier/api.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/policy.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/timeutils.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Python 3 compatibility: fix xrange/range issues
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/openstack.py
  controllerconfig/controllerconfig/controllerconfig/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/wrapping_formatters.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_invservers.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_sensorgroup.py
  sysinv/sysinv/sysinv/sysinv/tests/db/test_sysinv.py
  sysinv/sysinv/sysinv/sysinv/tests/test_sysinv_deploy_helper.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update stx-openstack armada manifests
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
Due: none

Add rbd-provisioner to common StarlingX charts
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/stx-openstack-helm.spec
  kubernetes/helm-charts/placeholder/placeholder.txt
  kubernetes/helm-charts/rbd-provisioner/Chart.yaml
  kubernetes/helm-charts/rbd-provisioner/examples/multi-pool-storage.yaml
  kubernetes/helm-charts/rbd-provisioner/examples/single-pool-storage.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrole.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/daemonset.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/role.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/rolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
Due: none

Fix word and statement errors in comments
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/lib/puppet/provider/proxy_config/ini_setting.rb
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu.py
  sysinv/sysinv/sysinv/sysinv/common/states.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/proxy.py
  sysinv/sysinv/sysinv/sysinv/tests/README.txt
Due: sysinv-tox-py27, sysinv-tox-flake8

Wrong partition size is displayed for HDD disk
  sysinv/sysinv/sysinv/sysinv/cmd/manage-partitions
Due: sysinv-tox-py27, sysinv-tox-flake8

Introduce support for aodh chart overrides
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Remove vswitch weigher
  puppet-manifests/src/modules/openstack/manifests/nova.pp
Due: none

Add stx-openstack-helm to the containers build
  centos_helm.inc
  centos_pkg_dirs_containers
Due: none

Update Ceilometer Helm conf overrides
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
Due: sysinv-tox-py27, sysinv-tox-flake8

More updates for stx-openstack armada manifests
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  tox.ini
Due: none

Implement Active-Active Heartbeat as HA Improvement
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: none

Rename centos_wheels.inc to centos_pike_wheels.inc
  centos_pike_wheels.inc
Due: none

Fix Ceph split brain on multinode
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: none

Cleanup of horizon's local_settings override in armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Update overrides and armada manifests for nova-api-proxy
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Increasing default docker filesystem from 10G to 16 G
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Configure VIM to use pod based OpenStack services
  puppet-manifests/src/modules/platform/manifests/nfv.pp
  puppet-manifests/src/modules/platform/templates/dnsmasq.conf.erb
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/nfvi.pp
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Disable QEMU memory balloon usage statistics.
  puppet-manifests/src/hieradata/compute.yaml
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Rebase openstack-helm and openstack-helm-infra
  kubernetes/helm-charts/rbd-provisioner/README.md
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add Aodh and Panko to the armada manifests
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none
