Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py39:
  parent: tox-py39
  description: 'Run py39 test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: py39
    python_version: 3.9
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py39:
  parent: tox-py39
  description: Run py39 tests for controllerconfig
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py39
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

tsconfig__tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py39:
  parent: tox-py39
  description: Run py39 tests for tsconfig
  nodeset: debian-bullseye
  vars:
    tox_envlist: py39
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Fix false negative result when updating apps
  controllerconfig/controllerconfig/upgrade-scripts/21-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Reduce manifests running after upgrade completes
  controllerconfig/controllerconfig/upgrade-scripts/102-create-required-platform-certs.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add platform-integ-apps to critical app list
  controllerconfig/controllerconfig/upgrade-scripts/21-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Prevents kube-cert-rotation script restart sysinv
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Reduce manifests running after upgrade completes"
  controllerconfig/controllerconfig/upgrade-scripts/102-create-required-platform-certs.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Centralize lifecycle-related constants in a single file.
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_base.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_constants.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prevents kube-cert-rotation.sh running during platform update
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix for deletion and reinstall operation
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add super-admin.conf to K8s Root CA update
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add Service Parameter for SCTP Autoload
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow null values when patching osdid for rook-ceph
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable keystone cache for subclouds
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update references to apply_network_config.sh in comments
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prevent script from stopping due to command failure
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update tsconfig__tox-pylint to use debian-bullseye nodeset
  .zuul.yaml
Due: none

Revert "Disable k8s leader election for scheduler and controller-manager"
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Refactor calls to AppOperator.perform_app_upload()
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Sanitize etcd endpoints in kubeadm-config ConfigMap during K8S upgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Reduce manifests running after upgrade completes
  controllerconfig/controllerconfig/upgrade-scripts/102-create-required-platform-certs.py
  controllerconfig/controllerconfig/upgrade-scripts/199-reconfigure-keystone-endpoints.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Defer application reapply evaluation during platform upgrades
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/evaluate_apps_reapply.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

USM upgrades: disable k8s leader elections
  controllerconfig/controllerconfig/upgrade-scripts/02-delete-pod-eviction-timeout-service-parameter.py
  controllerconfig/controllerconfig/upgrade-scripts/02-k8s-disable-sched-controllermanager-leader-election.sh
  controllerconfig/controllerconfig/upgrade-scripts/02-remove-psp-service-parameter.py
  controllerconfig/controllerconfig/upgrade-scripts/03-delete-encrypted-fs-service-parameter.sh
  controllerconfig/controllerconfig/upgrade-scripts/04-add-tls-version-cipher-parameters.sh
  controllerconfig/controllerconfig/upgrade-scripts/05-oidc-service-parameters-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/06-kubernetes-service-parameters-apply.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove RPC Hybrid Mode
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapiproxy.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapizmq.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapiproxy.py
  sysinv/sysinv/sysinv/sysinv/tests/conf_fixture.py
  sysinv/sysinv/sysinv/sysinv/zmq_rpc/zmq_rpc.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8

Terminate lingering kubeadm and puppet process during K8S abort
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add sysinv support for Kubernetes 1.31.5
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add to agent the same version and usm state check present in conductor
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove unused upgrade scripts for the version stx11.
  controllerconfig/controllerconfig/upgrade-scripts/01-remove-armada-if-unused.py
  controllerconfig/controllerconfig/upgrade-scripts/02-delete-pod-eviction-timeout-service-parameter.py
  controllerconfig/controllerconfig/upgrade-scripts/02-remove-psp-service-parameter.py
  controllerconfig/controllerconfig/upgrade-scripts/03-delete-encrypted-fs-service-parameter.sh
  controllerconfig/controllerconfig/upgrade-scripts/04-add-tls-version-cipher-parameters.sh
  controllerconfig/controllerconfig/upgrade-scripts/05-oidc-service-parameters-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/06-kubernetes-service-parameters-apply.py
  controllerconfig/controllerconfig/upgrade-scripts/07-remove-vault.sh
  controllerconfig/controllerconfig/upgrade-scripts/100-update_dcmanager_subclouds_table.py
  controllerconfig/controllerconfig/upgrade-scripts/101-configure-ipsec-on-hosts.py
  controllerconfig/controllerconfig/upgrade-scripts/102-create-required-platform-certs.py
  controllerconfig/controllerconfig/upgrade-scripts/104-remove-admin-role.py
  controllerconfig/controllerconfig/upgrade-scripts/117-ptp-db-upgrade.py
  controllerconfig/controllerconfig/upgrade-scripts/12-create-sysinv-upgrade-entries.py
  controllerconfig/controllerconfig/upgrade-scripts/13-add-mgmt-fqdn-to-dnsmasq.py
  controllerconfig/controllerconfig/upgrade-scripts/14-populate-ihost-sw-version-field.py
  controllerconfig/controllerconfig/upgrade-scripts/15-update-controllerfs-state.py
  controllerconfig/controllerconfig/upgrade-scripts/16-update-filesystems-capabilities.py
  controllerconfig/controllerconfig/upgrade-scripts/17-ldap-users-backup.sh
  controllerconfig/controllerconfig/upgrade-scripts/18-system-local-ca-update.py
  controllerconfig/controllerconfig/upgrade-scripts/196-k8s-update-system-node-rbac.sh
  controllerconfig/controllerconfig/upgrade-scripts/24-recreate-vim-systemcontroller-endpoint.sh
  controllerconfig/controllerconfig/upgrade-scripts/25-barbican-data-migration.sh
  controllerconfig/controllerconfig/upgrade-scripts/26-keystone-data-migration.sh
  controllerconfig/controllerconfig/upgrade-scripts/27-add-service-parameter.py
  controllerconfig/controllerconfig/upgrade-scripts/29-mgmt-network-fqdn-reconfig.py
  controllerconfig/controllerconfig/upgrade-scripts/30-update_network_addrpool_table.py
  controllerconfig/controllerconfig/upgrade-scripts/50-remove-calico-ipip.py
  controllerconfig/controllerconfig/upgrade-scripts/67-update-openldap-users.sh
  controllerconfig/controllerconfig/upgrade-scripts/80-remove-psp-autogenerated-policies.py
  controllerconfig/controllerconfig/upgrade-scripts/83-restart-vault-pods.sh
  controllerconfig/controllerconfig/upgrade-scripts/88-remove-subcloud-endpoints.py
  controllerconfig/controllerconfig/upgrade-scripts/89-sync-dcorch-subcloud-mgmt-ip.py
  controllerconfig/controllerconfig/upgrade-scripts/92-reset-k8s-pki-folder-permissions.sh
  controllerconfig/controllerconfig/upgrade-scripts/93-update-mgmt-ipsec-flag.py
  controllerconfig/controllerconfig/upgrade-scripts/94-capabilities-column-cleaning.py
  controllerconfig/controllerconfig/upgrade-scripts/96-adjust-subcloud-deploy-state.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Set leader-elect as non-RR k8s service parameter
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add WORKER Personality for sctp_autoload configuration
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Add to agent the same version and usm state check present in conductor"
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix missing role assignment for dcmanager service
  sysinv/sysinv/sysinv/sysinv/common/openstack_config_endpoints.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Bond if-class restriction and VF sharing
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow subnet overlap between cluster-pod and cluster-service subnets.
  sysinv/sysinv/sysinv/sysinv/common/address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update sysinv-api to mark leader-elect as non-RR service param
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add validation inter-app metadata to framework.
  sysinv/sysinv/sysinv/sysinv/common/app_metadata.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/common/data/sample_metadata_app_class.yaml
  sysinv/sysinv/sysinv/sysinv/tests/common/data/sample_metadata_dependent_apps.yaml
  sysinv/sysinv/sysinv/sysinv/tests/common/test_app_metadata.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix auto managed apps being stuck in uploading state.
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

System incorrectly handles images in helm overrides
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove obsolete upgrade scripts for stx-11
  controllerconfig/controllerconfig/upgrade-scripts/09-cleanup-dnsmasq-hosts-file.py
  controllerconfig/controllerconfig/upgrade-scripts/10-renew-pxeboot-dhcp-leases.py
  controllerconfig/controllerconfig/upgrade-scripts/103-update-psql-roles.py
  controllerconfig/controllerconfig/upgrade-scripts/13-drbd-update-secure-config.sh
  controllerconfig/controllerconfig/upgrade-scripts/199-update-stor-status.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Parameterize k8s health check decorator
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix reading termination condition for large message
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for f/stx.trixie
  .gitreview
Due: none

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
