Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Add Alembic migration files to package install
  sysinv/sysinv/debian/trixie/deb_folder/sysinv.install
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update sysinv RequestContext for Trixie
  sysinv/sysinv/sysinv/sysinv/common/context.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Replace SafeConfigParser with ConfigParser
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8

Fix prettytable compatibility for Trixie
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/wrapping_formatters.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update collections.Hashable usage
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove CentOS support and skip PostgreSQL setup for Trixie
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix PluginManager entry_points compatibility with Python 3.13
  sysinv/sysinv/sysinv/sysinv/common/plugin_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix regex pattern syntax warnings in certificate_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Replace inspect.getargspec with getfullargspec
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/query.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

sysinv: Use alembic migration framework in Trixie.
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/alembic.ini
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migration.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/README
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/env.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/script.py.mako
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/008440a44441_system_security_profile.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/08a4b7b81134_https_security.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/0b8155d29ac8_system_capabilities.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/11da1d854706_partitions_for_pvs.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/221a7a8ff786_consolidated_r4.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/37ee62e52c17_istorconfig_restructure.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/432c9eee887a_consolidated_rel15ga.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/4740bf7caa82_ceph_cache_tiering.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/4ad7ee5e761c_ceph_journal_ssd.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/4d130b21c3d0_controllerfs_restructure.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/4f8842b17ee7_iuser_lastchange.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/507283dd1e06_multi_storage_backend.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/52b3a43ae54b_sdn_controller.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/58ee032996a0_update_region_config_flag.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/642ec4287884_consolidated_r2509.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/7b3f70738379_partition_device_node.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/805020c3bcae_rpm_to_idisk.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/8d58ae0fc30d_lldp.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/8ee4f4de8064_region_config_data.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/94ac364b558e_storage_external.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/96dcf94cbf08_action_state.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/9780b2a1532d_iuser_wrsrootpw_aging.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/af1ff2b249d7_ceph_storage_pools.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/b5f3c9d2e1a7_ptp_parameters_add_column_section.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/c1348f2aff2f_remotelogging.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/ca454f69323d_system_distributed_cloud_role.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/dcad7048ee17_cinder_optional_service.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/e0f95475ea3a_horizon_lockout_params.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/e41f158124dc_intial_revision.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/ea2a09db8645_system_type.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/f71cc2a45120_cluster.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrations/versions/f9e2c0db7040_consolidated_r2509.py
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix NFS mount failure on Trixie due to UDP protocol
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_platform.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Increase NFS mount retries in controller_config for IPsec
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add missing sysinv-plugin to trixie
  sysinv/sysinv/debian/trixie/deb_folder/sysinv.install
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix Barbican secret creation failure on Trixie
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Fix yaml dump for vswitch"
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Reject Unsupported Rolebinding Domain and Project
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Moving kube_utils.py helper to sysinv.common
  sysinv/sysinv/sysinv/sysinv/common/kube_utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add HAProxy TLS configuration generation
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_platform_tls.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add --client-side option to application apply cmd
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Flux upgrade support for N-2 to N platform upgrade
  sysinv/sysinv/sysinv/sysinv/helm/flux.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Check Root CA start date validity on kube-cert-rotation.sh
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove kvm_timer_advance from config
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow OAM network on shared interfaces
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_platform_firewall.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix exception seen when adding a default route.
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enforce upgrades/from_versions and add regex support
  sysinv/sysinv/sysinv/sysinv/common/app_metadata.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/common/data/sample_metadata_upgrades.yaml
  sysinv/sysinv/sysinv/sysinv/tests/common/test_app_metadata.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Generate hieradata to support gnss disable
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove address mode when deleting network addrpool
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_addrpool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network_addrpool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Re-encrypt github mirror SSH key
  .zuul.yaml
Due: none

Expose Kubernetes StorageV1Api
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add multicast iptables rule to keep MGMT IP
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix usage of restful API for rook-ceph
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix sysinv Trixie compatibility issues
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add Docker Registry TLS configuration generation
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/dockerdistribution.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_dockerdistribution_tls.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix calico IP autodetection variables for k8s networking upgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add ECDSA support to IPsec Auth
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Skip dest filter when OAM is on separate interface
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_platform_firewall.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix K8s version sorting in sysinv for minor and patch versions
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_version_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add keystone user session timeout service parameter
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update sysinv etcd restore to support etcd 3.6 snapshot restore
  sysinv/sysinv/sysinv/sysinv/common/etcd.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Restart sysinv agent zmq server if not running
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/zmq_rpc/zmq_rpc.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
