Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Cleanup pylint error: attribute_defined_outside_init
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
  sysinv/cgts-client/cgts-client/cgtsclient/shell.py
  sysinv/cgts-client/cgts-client/pylint.rc
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Cleanup pylint error: super-init-not-called
  sysinv/cgts-client/cgts-client/cgtsclient/exc.py
  sysinv/cgts-client/cgts-client/pylint.rc
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Revert "Removing unused variables passed to platform/ceph.pp"
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow certificate install when HTTPS is false
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Follow up on general naming for app openstack
  sysinv/sysinv/sysinv/sysinv/puppet/pci_irq_affinity.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Remove sysinv kube-apiserver upgrade params apply"
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fixing variable renaming
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_ilvg.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fixing variable renaming on _find_ipv
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_ipv.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ipv.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

[PTP dual NIC config] Review of PTP data model
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_paramownership.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_paramownership_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_paramownership.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/120_ptp_instances.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/objects/interface.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_paramowner.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_paramownership.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Improve placement of pci-irq-affinity-agent svc
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/puppet/pci_irq_affinity.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] Removing 'unique' parameter
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/120_ptp_instances.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Install tsconfig in the right place
  tsconfig/debian/deb_folder/tsconfig.install
Due: config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8

RPC Timeout on Backup Operation
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix code to support new json format when calling pg dump_stuck
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

sysinv-fpga-agent: update meta_data.yaml to remove dl_hook
  sysinv/sysinv-fpga-agent/debian/dl_hook
  sysinv/sysinv-fpga-agent/debian/meta_data.yaml
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

sysinv-agent: update meta_data.yaml to remove dl_hook
  sysinv/sysinv-agent/debian/dl_hook
  sysinv/sysinv-agent/debian/meta_data.yaml
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] 2nd review of PTP data model
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_map.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_interface_map.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance_map.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface_map.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_paramownership.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/120_ptp_instances.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/objects/interface.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance_map.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface_map.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Remove TPM mode support from certificate commands
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/isystem_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix incorrect exception handling on failure to obtain sysinv URL
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for r/stx.6.0
  .gitreview
Due: none

Add validation for a non CA certificate
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] Deactivate ptp-instance code
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Hide traceback for application-apply cmd
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Modify OVS puppet plugin and host vswitch hugepages allocation logic
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/puppet/ovs.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Modify PCI IRQ Affinity agent plugin
  sysinv/sysinv/sysinv/sysinv/puppet/pci_irq_affinity.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP SyncE] Generate ts2phc hieradata
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix controllerconfig service warning on boot
  controllerconfig/debian/deb_folder/controllerconfig.install
  controllerconfig/debian/deb_folder/controllerconfig.service
  controllerconfig/debian/deb_folder/rules
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Revert "Add validation of special chars on system values"
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_system.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Do not raise alarm if data interface is not reported by the OS
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Check trident compatibility pre k8s upgrade
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_health.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

relocate /pxeboot to /var/pxeboot
  controllerconfig/controllerconfig/controllerconfig/utils.py
  controllerconfig/controllerconfig/scripts/controller_config
  sysinv/sysinv/sysinv/etc/sysinv/delete_load.sh
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix AE mgmt interface reconfig
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

F841 local variable 'X' is assigned to but never used
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/exc.py
  sysinv/cgts-client/cgts-client/cgtsclient/shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/drbdconfig_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/host_fs.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/idisk_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/isensorgroup_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/sm_service_shell.py
  sysinv/cgts-client/cgts-client/tox.ini
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

[PTP dual NIC config] Adding name to ptp_interface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/120_ptp_instances.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove standard WR License notice from StarlingX distributed
  sysinv/sysinv/sysinv/sysinv/common/dc_api.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improving IPV4 validation for configs
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] Changes from new data model
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_map.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_interface.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_interface_map.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_interface_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_paramownership.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_paramownership_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance_map.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface_map.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_paramownership.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance_map.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface_map.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_paramowner.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_paramownership.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

[PTP dual NIC config] Update hieradata gen for new data model
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Apply runtime class for kube-apiserver when installing ca cert"
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
