Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Fix zuul test due to entrypoint failure on python module
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change front-proxy-ca cert renewal to manual in show command
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Avoid SRIOV and PCI DP update when host is locked
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_datanetwork.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Generate routes file content in final string format
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

registry.central in dnsmasq local scope
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Unit tests for update_and_process_app_metadata
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_indirect_cyclic_dependency.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_multiple_dependencies.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_mutual_cyclic_dependency.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_kube_app_metadata.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Force pxeboot interface label generation to ":2"
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve delete behaviour for ptp instances
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Robustness improvement for kube-rootca-update
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Uncouple image download code from conductor
  sysinv/sysinv/sysinv/sysinv/common/image_download.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Consider existing routes when generating for each intf
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update default docker storage size
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host_fs.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Replace static delay with conditional interface check
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix IPv6 preferred address precedence for admin over mgmt
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove reconfigure ipsec RPC call
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove kube-apiserver reconfig RPC calls
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove leftover 'bios_cstate' reference
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove kube-apiserver port updated check
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_cluster.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Refactor Flux upgrades
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/flux.py
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/flux.py
  sysinv/sysinv/sysinv/sysinv/cmd/flux.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/flux.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add host level pxeboot network MTU size test check
  controllerconfig/controllerconfig/scripts/controller_config
  storageconfig/storageconfig/storage_config
  workerconfig/workerconfig/worker_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add alarm expiry,expired support for IPSEC certificates
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve error state handling in wait_for_config_init
  config-gate/files/wait_for_config_init.sh
  config-gate/files/wait_for_worker_config_init.sh
Due: none

Refactor Flux rollback
  sysinv/cgts-client/cgts-client/cgtsclient/v1/flux.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/flux.py
  sysinv/sysinv/sysinv/sysinv/cmd/flux.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/flux.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

DEV: Sysinv changes to support ptp4l unicast master tables
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/unicast_master_table.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_unicast_master_table.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/types.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/145_ptp_parameters_add_column_section.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_paramowner.py
  sysinv/sysinv/sysinv/sysinv/objects/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance_update.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

DEV: Generate unicast_master_table hieradata and configs
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "DEV: Sysinv changes to support ptp4l unicast master tables"
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/unicast_master_table.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_unicast_master_table.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/types.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/145_ptp_parameters_add_column_section.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_paramowner.py
  sysinv/sysinv/sysinv/sysinv/objects/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance_update.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Introduce PluginManager to handle all plugin operations.
  sysinv/sysinv/sysinv/sysinv/common/plugin_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Delay host-unlock on pending grub runtime manifest
  sysinv/sysinv/sysinv/etc/sysinv/sysinv.conf
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cleanup obsolete out-of-tree parameters
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove support for Kubernetes versions lower than 1.32
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Set runtime kernel parms via service parameter api
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_service_parameter.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Parse YAML policy files
  sysinv/sysinv/sysinv/sysinv/openstack/common/policy.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add additional tiers and chassis to rook-ceph app
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Generate GlobalNetworkSet Configuration
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_platform_firewall.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Adapt sysinv code to use PluginManager class.
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/common/barbican_config.py
  sysinv/sysinv/sysinv/sysinv/common/extension_manager.py
  sysinv/sysinv/sysinv/sysinv/common/openstack_config_endpoints.py
  sysinv/sysinv/sysinv/sysinv/common/plugin_manager.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Speed up port inventory
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/scripts/query_pci_id
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/common/query_pci_id.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Adds unit test for the PluginManager class.
  sysinv/sysinv/sysinv/sysinv/tests/common/test_plugin_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert^2 "DEV: Sysinv changes to support ptp4l unicast master tables"
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/unicast_master_table.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_unicast_master_table.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/types.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/145_ptp_parameters_add_column_section.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_paramowner.py
  sysinv/sysinv/sysinv/sysinv/objects/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance_update.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add PTP monitoring parameters support to puppet hieradata
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove sw-patch from unit files on config
  config-gate/files/config.service
  config-gate/files/worker-config-gate.service
  controllerconfig/controllerconfig/scripts/controllerconfig.service
  controllerconfig/debian/deb_folder/controllerconfig.service
  devstack/settings
  storageconfig/debian/deb_folder/storageconfig.service
  storageconfig/storageconfig/storageconfig.service
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/sysinv-agent/debian/deb_folder/sysinv-agent.service
  sysinv/sysinv-agent/sysinv-agent.service
  sysinv/sysinv/debian/deb_folder/control
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/patch_api.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_health.py
  sysinv/sysinv/sysinv/tox.ini
  workerconfig/debian/deb_folder/workerconfig-standalone.workerconfig.service
  workerconfig/workerconfig/workerconfig.service
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint
