Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Allow stor deletion in AIO-SX
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Fix controllerconfig packaging issues
  controllerconfig/debian/deb_folder/controllerconfig.install
  controllerconfig/debian/deb_folder/rules
  controllerconfig/debian/deb_folder/systemd/00-controllerconfig.preset
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove pm-qos hieradata from platform puppet plugin
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Fix packaging issues for sysinv-agent
  sysinv/sysinv-agent/debian/deb_folder/rules
  sysinv/sysinv-agent/debian/deb_folder/sysinv-agent.install
  sysinv/sysinv-agent/debian/deb_folder/sysinv-agent.postinst
  sysinv/sysinv-agent/debian/deb_folder/systemd/00-sysinv-agent.preset
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Fix config-gate packaging
  config-gate/debian/deb_folder/config-gate-worker.install
  config-gate/debian/deb_folder/config-gate.install
  config-gate/debian/deb_folder/rules
  config-gate/debian/deb_folder/systemd/00-config-gate-worker.preset
  config-gate/debian/deb_folder/systemd/00-config-gate.preset
Due: none

debian: Fix cert-mon packaging dependencies
  sysinv/cert-mon/debian/deb_folder/control
Due: none

Enclose credentials with quotes to escape special characters
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

debian: Update packaging for cert-alarm
  sysinv/cert-alarm/debian/deb_folder/cert-alarm.dirs
  sysinv/cert-alarm/debian/deb_folder/cert-alarm.install
  sysinv/cert-alarm/debian/deb_folder/control
Due: none

debian: Fix packaging issues in sysinv-fpga-agent
  sysinv/sysinv-fpga-agent/debian/deb_folder/control
  sysinv/sysinv-fpga-agent/debian/deb_folder/sysinv-fpga-agent.install
  sysinv/sysinv-fpga-agent/debian/deb_folder/systemd/00-sysinv-fpga-agent.preset
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP SyncE] Fix failure on multiple clock instances
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prestage directory cleanup on system load-delete
  sysinv/sysinv/sysinv/etc/sysinv/delete_load.sh
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] Cleanup service_parameter
  controllerconfig/controllerconfig/upgrade-scripts/61-move-ptp-parameters.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove references to Mellanox's ConnectX-3
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Config scale: improve route config scalability
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/route.py
  sysinv/sysinv/sysinv/sysinv/common/interface.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add lockout security compliance options for keystone
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Debian: Update puppet class scoping for network.pp
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Extend cert-mon network_max_retry default value
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cert-mon improvement
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Create a service-parameter to control Ceph's id reclaim
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update host force lock semantic check for ceph monitors
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Add system node grub file creation support to sysinv conductor
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cleanup tox for python3.9 jobs
  .zuul.yaml
  controllerconfig/controllerconfig/controllerconfig/utils.py
  sysinv/sysinv/sysinv/sysinv/version.py
  sysinv/sysinv/sysinv/tox.ini
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8

Add pod security admission controller labels
  controllerconfig/controllerconfig/upgrade-scripts/68-pod-security-admission-controller-labels.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_base.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix system host-lock controller
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add retrying mount manually on /opt/platform
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add Application Framework support for FluxCD
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prevent overwrite of sensible FEC configuration
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pci_device.py
  sysinv/sysinv/sysinv/sysinv/puppet/device.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Update sysinv OCF scripts to handle python3
  sysinv/sysinv/sysinv/scripts/sysinv-api
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Detect OS type
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Debian: Prevent sqlalchemy error during db sync
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/110_remove_snmp.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Sysinv OpenLDAP certificate configuration update
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Suppress some stevedore errors
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Unify OS type detection
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow de-provisioning of FEC device
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pci_device.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Resize systemcontroller filesystems on upgrade-activate
  controllerconfig/controllerconfig/upgrade-scripts/17-resize-systemcontroller-filesystems.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Block host-fs resize if a drbd-fs is being resized
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host_fs.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Adding unit tests for lldp agent driver activities
  sysinv/sysinv/sysinv/sysinv/tests/agent/lldp_data/0.9.0/lldp_show_chassis.json
  sysinv/sysinv/sysinv/sysinv/tests/agent/lldp_data/0.9.0/lldp_show_configuration.json
  sysinv/sysinv/sysinv/sysinv/tests/agent/lldp_data/0.9.0/lldp_show_interface_detail.json
  sysinv/sysinv/sysinv/sysinv/tests/agent/lldp_data/0.9.0/lldp_show_neighbor_detail.json
  sysinv/sysinv/sysinv/sysinv/tests/agent/lldp_data/README.md
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_lldp.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add Sysinv enhancements for FluxCD
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Copy extra config files that apiserver needs
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Clamp bandit for python 3.6
  sysinv/sysinv/sysinv/test-requirements.txt
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
