Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Cert-Alarm token caching + other
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support kubernetes 1.21 removal of namespace API export parameter
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add timeout for get_endpoint_certificate
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add 'starlingx.io' id to annotation
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add debian packaging directory for sysinv-agent
  sysinv/sysinv-agent/debian/deb_folder/changelog
  sysinv/sysinv-agent/debian/deb_folder/control
  sysinv/sysinv-agent/debian/deb_folder/copyright
  sysinv/sysinv-agent/debian/deb_folder/rules
  sysinv/sysinv-agent/debian/deb_folder/source/format
  sysinv/sysinv-agent/debian/deb_folder/sysinv-agent.dirs
  sysinv/sysinv-agent/debian/deb_folder/sysinv-agent.install
  sysinv/sysinv-agent/debian/deb_folder/sysinv-agent.postinst
  sysinv/sysinv-agent/debian/deb_folder/sysinv-agent.postrm
  sysinv/sysinv-agent/debian/dl_hook
  sysinv/sysinv-agent/debian/meta_data.yaml
  sysinv/sysinv-agent/sysinv-agent
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove pycrypto from requirements.txt
  sysinv/sysinv/sysinv/requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update debian packaging for cgts-client
  sysinv/cgts-client/debian/control
  sysinv/cgts-client/debian/deb_folder/cgts-client.dirs
  sysinv/cgts-client/debian/deb_folder/cgts-client.install
  sysinv/cgts-client/debian/deb_folder/changelog
  sysinv/cgts-client/debian/deb_folder/control
  sysinv/cgts-client/debian/deb_folder/copyright
  sysinv/cgts-client/debian/deb_folder/rules
  sysinv/cgts-client/debian/deb_folder/source/format
  sysinv/cgts-client/debian/deb_folder/source/options
  sysinv/cgts-client/debian/meta_data.yaml
  sysinv/cgts-client/debian/rules
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add debian packaging directory for storageconfig
  storageconfig/debian/deb_folder/changelog
  storageconfig/debian/deb_folder/control
  storageconfig/debian/deb_folder/copyright
  storageconfig/debian/deb_folder/rules
  storageconfig/debian/deb_folder/source/format
  storageconfig/debian/deb_folder/storageconfig.dirs
  storageconfig/debian/deb_folder/storageconfig.install
  storageconfig/debian/meta_data.yaml
Due: none

Add debian build directory for controllerconfig
  controllerconfig/debian/control
  controllerconfig/debian/deb_folder/changelog
  controllerconfig/debian/deb_folder/control
  controllerconfig/debian/deb_folder/controllerconfig.dirs
  controllerconfig/debian/deb_folder/controllerconfig.install
  controllerconfig/debian/deb_folder/controllerconfig.lintian-overrides
  controllerconfig/debian/deb_folder/copyright
  controllerconfig/debian/deb_folder/rules
  controllerconfig/debian/deb_folder/source/format
  controllerconfig/debian/deb_folder/source/options
  controllerconfig/debian/meta_data.yaml
  controllerconfig/debian/rules
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

[PTP dual NIC config] PTP instance: CLI, REST API
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Remove host hardware sysinv profile
  api-ref/source/api-ref-sysinv-v1-config.rst
  controllerconfig/controllerconfig/upgrade-scripts/95-del-profile-ihost.py
  controllerconfig/controllerconfig/upgrade-scripts/97-reset-config-target.py
  devstack/lib/config
  releasenotes/notes/release-summary-6738ff2f310f9b57.yaml
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/opensuse/sysinv.spec
  sysinv/sysinv/sysinv/etc/sysinv/profileSchema.xsd
  sysinv/sysinv/sysinv/etc/sysinv/sampleProfile.xml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu_utils.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/lvg.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/partition.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile_utils.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/122_remove_profiles.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/profile.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_host_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_profile.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add debian package for sysinv-fpga-agent
  debian_pkg_dirs
  sysinv/sysinv-fpga-agent/debian/deb_folder/changelog
  sysinv/sysinv-fpga-agent/debian/deb_folder/control
  sysinv/sysinv-fpga-agent/debian/deb_folder/copyright
  sysinv/sysinv-fpga-agent/debian/deb_folder/rules
  sysinv/sysinv-fpga-agent/debian/deb_folder/source/format
  sysinv/sysinv-fpga-agent/debian/deb_folder/sysinv-fpga-agent.dirs
  sysinv/sysinv-fpga-agent/debian/deb_folder/sysinv-fpga-agent.install
  sysinv/sysinv-fpga-agent/debian/dl_hook
  sysinv/sysinv-fpga-agent/debian/meta_data.yaml
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Apply kube-apiserver parameters after upgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update debian packaging for sysinv
  sysinv/sysinv/debian/control
  sysinv/sysinv/debian/deb_folder/changelog
  sysinv/sysinv/debian/deb_folder/control
  sysinv/sysinv/debian/deb_folder/copyright
  sysinv/sysinv/debian/deb_folder/rules
  sysinv/sysinv/debian/deb_folder/source/format
  sysinv/sysinv/debian/deb_folder/source/options
  sysinv/sysinv/debian/deb_folder/sysinv.dirs
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/debian/meta_data.yaml
  sysinv/sysinv/debian/rules
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add script for upgrading armada chart
  controllerconfig/controllerconfig/upgrade-scripts/67-armada-toleration-upgrade.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Support kube-rootca-update on systems with storage
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Separate CA for k8s and etcd
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/upgrade-scripts/71-enable-separate-etcd-ca.sh
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8

allow application upload for applications with no plugins
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix sysinv build issues on Debian
  sysinv/sysinv/debian/deb_folder/control
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add keystone password change callback
  sysinv/sysinv/sysinv/sysinv/conductor/keystone_listener.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Service parameters for pwd rules in keystone.conf
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve robustness of root CA cert update polling
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

kubeadm alpha command causing script to fail
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove ceph-mon port from URL
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Avoid raising unknown alarms
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Re-enable important py3k checks for tsconfig
  tsconfig/tsconfig/pylint.rc
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8

Fix lintian build for cgts-client
  sysinv/cgts-client/debian/deb_folder/cgts-client.dirs
  sysinv/cgts-client/debian/deb_folder/cgts-client.install
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Ignore 500.200 alarm on kube rootca update
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add missing packages that have debian directories.
  debian_pkg_dirs
Due: none

PTP interfaces: CLI, REST API
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_interface.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_interface_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

improve kubelet upgrade error handling
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add debian_iso_image.inc file
  debian_iso_image.inc
Due: none

Removing rpm as a dependency for sysinv
  controllerconfig/controllerconfig/controllerconfig/__init__.py
  sysinv/cgts-client/cgts-client/cgtsclient/shell.py
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/puppet/smapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Updating nfv_proxy_public_url
  sysinv/sysinv/sysinv/sysinv/puppet/dcorch.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] Capabilities in PTP tables
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/120_ptp_instances.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove read permission from key files
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix issue on secure_system.yaml not being updated
  sysinv/sysinv/sysinv/sysinv/conductor/keystone_listener.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Disallow upload of short validity k8s rootCA cert
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] PTP parameter: CLI, REST API
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_instance_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ptp_parameter_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/120_ptp_instances.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Re-enable important py3k checks for cgts-client
  sysinv/cgts-client/cgts-client/cgtsclient/common/base.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/wrapping_formatters.py
  sysinv/cgts-client/cgts-client/cgtsclient/exc.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/idisk_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ipv_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/partition_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/pci_device_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/service_parameter_shell.py
  sysinv/cgts-client/cgts-client/pylint.rc
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint
