Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Add overwrite option to host-label-assign
  sysinv/cgts-client/cgts-client/cgtsclient/v1/label.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/label_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_label.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update sysinv to handle various image formats
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Re-factor application related file/directory references
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add application location support for plugins
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Re-factor helm/armada plugin loading
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Re-factor Application class use of is_system_app
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Initialize aws client with proxies
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Create sysinv-utils for generating host-overrides
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/service_parameter_shell.py
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/opensuse/sysinv.spec
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/cmd/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix issue with sysinv-utils create-host-overrides
  sysinv/sysinv/sysinv/sysinv/cmd/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Provide infrastructure for kubernetes upgrades
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_ihost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_host_upgrade.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_upgrade.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_upgrade_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_host_upgrade.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_upgrade.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_upgrade_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_host_upgrade.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_version.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/patch_api.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/093_kube_upgrade_tables.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_host_upgrade.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_host_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_version.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/test_sysinv.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_kube_host_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_kube_upgrade.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Support to handle various image formats for application
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/chart_values_sample.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_kube_app_image_parser.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Disallow host-unlock if a lock operation is in progress
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix elasticsearch curator limits
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_curator.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add constants for controller config complete to tsconfig
  tsconfig/tsconfig/scripts/tsconfig
Due: none

Update .gitreview for r/stx.3.0
  .gitreview
Due: none

Allow host-delete for unprovisioned hosts without mtce notify
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Support pulling images from local registry for custom apps
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Set SW_VERSION to 19.12
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
Due: none

Enable keystone caching
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix issue with calls to create-host-overrides
  sysinv/sysinv/sysinv/sysinv/cmd/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add return values for implement of "pci_device_create"
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/db/test_sysinv.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Kubernetes upgrades support (continued)
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_ihost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_upgrade_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_upgrade.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_upgrade_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Introduce VF interface type
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/interface.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/095_sriov_vf_interfaces.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/interface_vf.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update list of skipped bandit plugins.
  .zuul.yaml
  sysinv/sysinv/sysinv/tox.ini
  tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Convert from testrepository to stestr
  sysinv/cgts-client/cgts-client/.gitignore
  sysinv/cgts-client/cgts-client/.stestr.conf
  sysinv/cgts-client/cgts-client/.testr.conf
  sysinv/cgts-client/cgts-client/test-requirements.txt
  sysinv/cgts-client/cgts-client/tox.ini
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Deprecate the sysinv.openstack.common utils files
  sysinv/sysinv/sysinv/openstack-common.conf
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/agent/lldp/plugin.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/sdn_controller.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/trapdest.py
  sysinv/sysinv/sysinv/sysinv/common/image_service.py
  sysinv/sysinv/sysinv/sysinv/common/images.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/objects/utils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/cliutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/config/generator.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/db/sqlalchemy/session.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/excutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/fileutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/importutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/jsonutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/lockutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/loopingcall.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/network_utils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/notifier/api.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/notifier/log_notifier.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/periodic_task.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/policy.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/processutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/__init__.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/amqp.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/common.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_kombu.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_qpid.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/service.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/strutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/timeutils.py
  sysinv/sysinv/sysinv/sysinv/tests/base.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_objects.py
  sysinv/sysinv/sysinv/sysinv/tests/test_images.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Prep for remote install of sub-cloud controller-0
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update and expose openstack keystone admin endpoint
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

configure kubernetes to use containerd as CRI
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add per-host board management protocol setting in sysinv
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Retry applying platform-integ-apps
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove glance storage backend
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Allow configuration of PTP master/slave interfaces
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ptp.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/096_ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/tests/api/base.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Create default Monitor config for Distributed Cloud
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/elastic.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_client.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_data.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_master.py
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/logstash.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_monitor.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

add semantic validation for label "intelgpu:enabled"
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_label.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

ceph: Add semantic check on host-lock to avoid data/service loss
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint
