Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Remove dcagent user creation in SystemController
  sysinv/sysinv/sysinv/sysinv/common/openstack_config_endpoints.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix TypeError in _audit_prune_runtime_config
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add upgrade script to enable IPsec for multi-node upgrades
  controllerconfig/controllerconfig/scripts/controller_config
  controllerconfig/controllerconfig/upgrade-scripts/100-enable-ipsec-on-hosts.py
  storageconfig/storageconfig/storage_config
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
  workerconfig/workerconfig/worker_config
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Script 71 fails when trying to update Vault
  controllerconfig/controllerconfig/upgrade-scripts/71-upgrade-vault.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Oidc Service Parameters Migration
  controllerconfig/controllerconfig/upgrade-scripts/63-oidc-service-parameters-migration.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove subcloud endpoints from Keystone DB during upgrade
  controllerconfig/controllerconfig/upgrade-scripts/88-remove-subcloud-endpoints.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Sync dcorch subcloud management IP during upgrade
  controllerconfig/controllerconfig/upgrade-scripts/89-sync-dcorch-subcloud-mgmt-ip.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update mgmt-ip hieradata on controller-0 rollback
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Disable upgrade scripts for IPsec on SX USM upgrades
  controllerconfig/controllerconfig/upgrade-scripts/101-enable-ipsec-on-hosts.py
  controllerconfig/controllerconfig/upgrade-scripts/93-update-mgmt-ipsec-flag.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix "sysinv-app query <k8s-target-version>"
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  sysinv/sysinv/sysinv/sysinv/cmd/applications.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Improve creation/deletion of controller-fs filesystem
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_controller_fs.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFrmwk: Minor fixes for Rook app integration
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fixed OIDC upgrade script.
  controllerconfig/controllerconfig/upgrade-scripts/63-oidc-service-parameters-migration.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

optimizing the sysinv request for network-type's address pool data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Implement token cache for usm
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement token cache for patch_api.py and sm_api.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/patch_api.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/sm_api.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve adding OSDs to apply puppet manifest
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove service param intel_nic_driver_version
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

handle error response in usm deploy_host restapi
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_usm_service.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Validate rollback for upgrade scripts 06 and 17
  controllerconfig/controllerconfig/upgrade-scripts/06-drbd-update-secure-config.sh
  controllerconfig/controllerconfig/upgrade-scripts/17-resize-systemcontroller-filesystems.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

remove the vault application on activate-rollback
  controllerconfig/controllerconfig/upgrade-scripts/02-remove-vault.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update cert SANs when changing OAM config
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve certificate deployment by cert-mon
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove lowlatency grub menu from PXE config file
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prevent loading plugins from previous release
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Wait for nginx and cert-manager pods to be ready
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add script for restarting vault server pods
  controllerconfig/controllerconfig/upgrade-scripts/71-restart-vault-pods.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Wait reconfiguration in upgrade script #41
  controllerconfig/controllerconfig/upgrade-scripts/41-create-required-platform-certs.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

deploy precheck circular dependency
  sysinv/sysinv/sysinv/sysinv/common/health.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add network-addrpool REST API documentation
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Fix OIDC service parameters issue
  controllerconfig/controllerconfig/upgrade-scripts/63-oidc-service-parameters-migration.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove replication_factor update
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update cert SANs only after initial config
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add activate rollback script to disable IPsec
  controllerconfig/controllerconfig/upgrade-scripts/101-configure-ipsec-on-hosts.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix hostname delivered by DHCP causes storage node upgrade to fail
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement token cache for cert-mon and cert-alarm
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add super-admin.conf certificate to kube-cert-rotation.sh
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Store IPSec cert and keys in LUKS filesystem
  sysinv/sysinv/debian/deb_folder/rules
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/scripts/check-ipsec-luks-dir.sh
  sysinv/sysinv/sysinv/sysinv/cmd/ipsec_client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  workerconfig/debian/deb_folder/workerconfig-standalone.workerconfig.service
  workerconfig/workerconfig/workerconfig.service
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Enable v2 protocol once monitors are upgraded"
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handle certificate api when oidc is in upload-failed state
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
