Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py36:
  parent: tox
  description: 'Run py36 test for sysinv
  
    '
  nodeset: ubuntu-bionic
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py36
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py36:
  parent: tox
  description: Run py36 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py36
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

config-tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py36:
  parent: tox
  description: Run py36 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: py36
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Add pylint py3 portability checks for the sysinv repo
  sysinv/sysinv/sysinv/pylint.rc
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add pylint py3 portability checks for the cgts-client repo
  sysinv/cgts-client/cgts-client/pylint.rc
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add a script to migrate releases from helm2 to helm3
  controllerconfig/centos/controllerconfig.spec
  controllerconfig/controllerconfig/scripts/migrate_helm_release.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Use upgraded kubelet on unlock after kubelet upgrade
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Positional parameter error for Physical Volumes in the API document.
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Unit test covering subcloud audit plus minor bug fix
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/subcloud_audit_queue.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/audit/ca-chain-bundle.cert.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/audit/cacert.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/audit/cakey.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/audit/intermediate.cacert.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Common token caching across cert-mon module
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/keystone_objects.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix SNMP upgrade scenario
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Generate self-signed certificate when https is enabled
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Increase Backup&Restore lifecycle actions timeout
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support application/json load-import request
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/load.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cert-Alarm audit
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/certificate_alarm_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_alarm/test_cert_alarm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

In AIO-SX, allow NIC and FEC swap with other vendor or device-id
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Service parameter config for auditd grub parameter
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add debian packaging infrastructure for cert-mon
  sysinv/cert-mon/debian/deb_folder/cert-mon.dirs
  sysinv/cert-mon/debian/deb_folder/cert-mon.install
  sysinv/cert-mon/debian/deb_folder/changelog
  sysinv/cert-mon/debian/deb_folder/control
  sysinv/cert-mon/debian/deb_folder/copyright
  sysinv/cert-mon/debian/deb_folder/rules
  sysinv/cert-mon/debian/deb_folder/source/format
  sysinv/cert-mon/debian/meta_data.yaml
Due: none

Add debian packaging directory for workerconfig
  workerconfig/debian/deb_folder/changelog
  workerconfig/debian/deb_folder/control
  workerconfig/debian/deb_folder/copyright
  workerconfig/debian/deb_folder/rules
  workerconfig/debian/deb_folder/source/format
  workerconfig/debian/deb_folder/workerconfig-standalone.dirs
  workerconfig/debian/deb_folder/workerconfig-standalone.install
  workerconfig/debian/meta_data.yaml
Due: none

Fix unit tests
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add check for invalid token
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update debian packaging for tsconfig
  tsconfig/debian/control
  tsconfig/debian/deb_folder/changelog
  tsconfig/debian/deb_folder/control
  tsconfig/debian/deb_folder/copyright
  tsconfig/debian/deb_folder/rules
  tsconfig/debian/deb_folder/source/format
  tsconfig/debian/deb_folder/source/options
  tsconfig/debian/deb_folder/tsconfig.install
  tsconfig/debian/meta_data.yaml
  tsconfig/debian/rules
Due: config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8

Add debian package for cert-alarm
  sysinv/cert-alarm/debian/deb_folder/cert-alarm.dirs
  sysinv/cert-alarm/debian/deb_folder/cert-alarm.install
  sysinv/cert-alarm/debian/deb_folder/changelog
  sysinv/cert-alarm/debian/deb_folder/control
  sysinv/cert-alarm/debian/deb_folder/copyright
  sysinv/cert-alarm/debian/deb_folder/files
  sysinv/cert-alarm/debian/deb_folder/rules
  sysinv/cert-alarm/debian/deb_folder/source/format
  sysinv/cert-alarm/debian/meta_data.yaml
Due: none

Add check to secret data for k8s rootca update
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

sysinv: update constant name to be more accurate
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/118_kube_cmd_versions_table.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_cmd_version.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Keep files that don't have private key information
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add debian package for config-gate
  config-gate/debian/deb_folder/changelog
  config-gate/debian/deb_folder/config-gate-worker.dirs
  config-gate/debian/deb_folder/config-gate-worker.install
  config-gate/debian/deb_folder/config-gate.install
  config-gate/debian/deb_folder/control
  config-gate/debian/deb_folder/copyright
  config-gate/debian/deb_folder/rules
  config-gate/debian/deb_folder/source/format
  config-gate/debian/meta_data.yaml
Due: none

Removing py36 gates from zuul for config
  .zuul.yaml
Due: none

Add debian_build_layer.cfg file
  debian_build_layer.cfg
Due: none

Add debian_pkg_dirs file
  debian_pkg_dirs
Due: none

Sysinv api load import improvements
  sysinv/sysinv/sysinv/sysinv/api/app.py
  sysinv/sysinv/sysinv/sysinv/api/hooks.py
  sysinv/sysinv/sysinv/sysinv/api/middleware/parsable_error.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove code breaking app UTs under py39/Bullseye
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

relocate /www to /var/www
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/scripts/controller_config
  sysinv/sysinv/sysinv/etc/sysinv/delete_load.sh
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove the use of docker for FPGA tools
  sysinv/sysinv-fpga-agent/centos/sysinv-fpga-agent.spec
  sysinv/sysinv-fpga-agent/run_docker_login
  sysinv/sysinv/sysinv/sysinv/fpga_agent/constants.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/reset_n3000_fpgas.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

[PTP dual NIC config] New tables in sysinv dbase
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/120_ptp_instances.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_instance.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_interface.py
  sysinv/sysinv/sysinv/sysinv/objects/ptp_parameter.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Preventing unlock and swact while k8s rootca update
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Alarm overrides + other minor changes
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handle FM APIExceptions
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Optimize cert-mon token cache sizing and re-use
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/keystone_objects.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove ceph-mon port from URL
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Align nohz_full= and isolcpus= arguments
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Display retimer version of the FPGA device
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/cgts-client/cgtsclient/v1/pci_device_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pci_device.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/121_retimer_version.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
  sysinv/sysinv/sysinv/sysinv/objects/fpga_device.py
  sysinv/sysinv/sysinv/sysinv/objects/pci_device.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
