Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

.zuul.yaml:

---
- project:
    templates:
      - build-openstack-docs-pti
    check:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    gate:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    post:
      jobs:
        - publish-stx-api-ref
        - publish-stx-tox
        - publish-stx-releasenotes

- job:
    name: sysinv-tox-py27
    parent: tox
    description: |
      Run py27 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: sysinv-tox-flake8
    parent: tox
    description: |
      Run flake8 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: controllerconfig-tox-flake8
    parent: tox
    description: Run flake8 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-py27
    parent: tox
    description: Run py27 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-pylint
    parent: tox
    description: Run pylint tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: pylint
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: configutilities-tox-flake8
    parent: tox
    description: Run flake8 tests for configutilities
    files:
      - configutilities/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c configutilities/configutilities/tox.ini

Introduce support for Barbican chart overrides
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/barbican.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Introduce support for Magnum chart overrides
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/magnum.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Release Note Content: Updated text with writing scrub
  releasenotes/notes/release-summary-6738ff2f310f9b57.yaml
Due: none

Update constants.py for all expected helm charts
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-flake8

CEPH persistent storage backend for Kubernetes
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/080_kube_ceph_pool.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Libvirt Helm Chart Override Generation
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Nova Helm Chart Override Generation
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Set number of servers in rabbitmq helm chart overrides.
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add support for Cinder overrides
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Upversion tiller image
  puppet-manifests/src/modules/platform/manifests/helm.pp
Due: none

Introduce RBD Provisioner chart overrides
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix failure in puppet cinder when having multiple CEPH backends
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
Due: none

Change nova instances mount to reflect openstack-helm default
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  puppet-manifests/src/modules/openstack/manifests/nova.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Horizon Helm Chart Override Generation
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Kubernetes firewall rule addition
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: none

Lock down flake8 version
  configutilities/configutilities/tox.ini
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

CEPH support for 1 node configuration
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.bin
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Updates to the existing Glance overrides
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Lock storage nodes during system restore
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Introduce support for gnocchi chart overrides
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Introduce support for ceilometer chart overrides
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Initial neutron helm overrides
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Python 3 compatibility: remove long
  sysinv/sysinv/sysinv/sysinv/openstack/common/jsonutils.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix urllib import issue for Python2/3 compatible code.
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/hooks.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix: "metaclass" issues for Python 2/3 compatible code.
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/objects/base.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/policy.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/serializer.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_objects.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Increase scope of pep8 checks for sysinv
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8

Python 3 compatibility: convert raw_input to input
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/config_management.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/idisk_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/isystem_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/upgrade_shell.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix: "raise" issues for Python 2/3 compatible code.
  sysinv/sysinv/sysinv/sysinv/openstack/common/excutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_fake.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fernet key synchronization
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/sysinv.pp
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/fernet.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/fernet_repo.py
  sysinv/sysinv/sysinv/sysinv/common/fernet.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix types issue for Python 2/3 compatible code.
  sysinv/sysinv/sysinv/sysinv/openstack/common/jsonutils.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_zmq.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add pod_network_cidr tag to the calico ERB
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
Due: none

Adjust the ceph mon IP for simplex k8s installs
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update helm overrides for ceph on simplex installs
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8

remove lshell dependency
  controllerconfig/centos/controllerconfig.spec
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fixup disabling firewall driver in helm overrides
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Create makefile for computeconfig
  computeconfig/centos/computeconfig.spec
  computeconfig/computeconfig/Makefile
Due: none

Create HELM chart for nova-api-proxy
  kubernetes/helm-charts/nova-api-proxy/Chart.yaml
  kubernetes/helm-charts/nova-api-proxy/charts/helm-toolkit-0.1.0.tgz
  kubernetes/helm-charts/nova-api-proxy/requirements.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/bin/_nova-api-proxy.sh.tpl
  kubernetes/helm-charts/nova-api-proxy/templates/configmap-bin.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/configmap-etc.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/deployment.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/image_repo_sync.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/ingress.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/job-ks-endpoints.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/secret-ingress-tls.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/secret-keystone.yaml
  kubernetes/helm-charts/nova-api-proxy/templates/service.yaml
  kubernetes/helm-charts/nova-api-proxy/values.yaml
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  tox.ini
Due: sysinv-tox-py27, sysinv-tox-flake8

k8s: Make sure PMON will not start native libvirtd
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: none

Helm Chart Override Password Generation
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/081_helm_system_overrides.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
  sysinv/sysinv/sysinv/sysinv/objects/helm_overrides.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Configure kubelet to ignore hugepages
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: none
