Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py39:
  parent: tox-py39
  description: 'Run py39 test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: py39
    python_version: 3.9
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py39:
  parent: tox-py39
  description: Run py39 tests for controllerconfig
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py39
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

tsconfig__tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py39:
  parent: tox-py39
  description: Run py39 tests for tsconfig
  nodeset: debian-bullseye
  vars:
    tox_envlist: py39
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Move armada removal script to the beginning
  controllerconfig/controllerconfig/upgrade-scripts/01-remove-armada-if-unused.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Improve k8s health check logging
  sysinv/sysinv/sysinv/sysinv/cmd/kubernetes_health.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enhance bash upgrade scripts robustness to wait for Kubernetes Health.
  controllerconfig/controllerconfig/upgrade-scripts/02-remove-vault.sh
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  controllerconfig/controllerconfig/upgrade-scripts/73-upgrade-portieris.sh
  controllerconfig/controllerconfig/upgrade-scripts/83-restart-vault-pods.sh
  controllerconfig/controllerconfig/upgrade-scripts/86-upgrade-dm.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add TLS service parameters in k8s during upgrade
  controllerconfig/controllerconfig/upgrade-scripts/12-add-tls-version-cipher-parameters.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix NTP peers 'reach' count 0 after changing OAM IP
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enhance system kube-upgrade-start to handle optional 'v' in Kubernetes version
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add IPsec bypass policy for DRBD file systems
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/config.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix HTTPS enable for USM upgrade
  controllerconfig/controllerconfig/upgrade-scripts/41-create-required-platform-certs.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fixing logging in upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/80-remove-psp-autogenerated-policies.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Prevent error when pod conditions are unavailable
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prevent AttributeError with cached upgrade check
  sysinv/sysinv/sysinv/sysinv/common/usm_service.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Skip IPsec check during reboot for SX system
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Only modify dnsmasq for system-controller-oam if is a patch call
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address_pool.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow hosts unlock during deployment in-progress
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Delete remaining armada pods.
  controllerconfig/controllerconfig/upgrade-scripts/01-remove-armada-if-unused.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Remove the database admin role for postgres
  controllerconfig/controllerconfig/upgrade-scripts/104-remove-admin-role.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Set Ice,IAVF,I40e Out-of-Tree Drivers as Default
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add IPsec bypass policy for drbd-cephmon
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/config.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Optimize 41-create-required-platform-certs.py script
  controllerconfig/controllerconfig/upgrade-scripts/102-create-required-platform-certs.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Rename/move upgrade scripts
  controllerconfig/controllerconfig/upgrade-scripts/03-delete-encrypted-fs-service-parameter.sh
  controllerconfig/controllerconfig/upgrade-scripts/04-add-tls-version-cipher-parameters.sh
  controllerconfig/controllerconfig/upgrade-scripts/05-oidc-service-parameters-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/07-remove-vault.sh
  controllerconfig/controllerconfig/upgrade-scripts/08-activate-keystone.py
  controllerconfig/controllerconfig/upgrade-scripts/09-cleanup-dnsmasq-hosts-file.py
  controllerconfig/controllerconfig/upgrade-scripts/10-renew-pxeboot-dhcp-leases.py
  controllerconfig/controllerconfig/upgrade-scripts/11-update-static-hieradata.py
  controllerconfig/controllerconfig/upgrade-scripts/12-create-sysinv-upgrade-entries.py
  controllerconfig/controllerconfig/upgrade-scripts/13-drbd-update-secure-config.sh
  controllerconfig/controllerconfig/upgrade-scripts/14-populate-ihost-sw-version-field.py
  controllerconfig/controllerconfig/upgrade-scripts/15-update-controllerfs-state.py
  controllerconfig/controllerconfig/upgrade-scripts/16-update-filesystems-capabilities.py
  controllerconfig/controllerconfig/upgrade-scripts/17-ldap-users-backup.sh
  controllerconfig/controllerconfig/upgrade-scripts/18-resize-systemcontroller-filesystems.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Optimize deploy start/data migration
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/objects.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add k8s health checks to app operations
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

PTP database upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/117-ptp-db-upgrade.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix host-stor-add command checking for restful service
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove partition notification
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ipv_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/partition_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Create stor with osdid None when backend is ceph-rook
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix ceph mon creation and update
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

K8s upgrade: Remove the deprecated flag pod-eviction-timeout
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update constants on upgrade script #101
  controllerconfig/controllerconfig/upgrade-scripts/101-configure-ipsec-on-hosts.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add message to IPsec client to confirm op completed
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove redundant USM upgrade status checks in route creation
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix mon state of workers in the database
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add MGMT FQDN entries to dnsmasq during upgrade
  controllerconfig/controllerconfig/upgrade-scripts/13-add-mgmt-fqdn-to-dnsmasq.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix misleading log message when VIM progress status is undefined
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Retain address after removing interface associated to the network
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/141_addresses_interface_on_delete.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_network.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Reduce kubeapi parameter applies in upgrade
  controllerconfig/controllerconfig/upgrade-scripts/02-remove-psp-service-parameter.py
  controllerconfig/controllerconfig/upgrade-scripts/03-delete-encrypted-fs-service-parameter.sh
  controllerconfig/controllerconfig/upgrade-scripts/04-add-tls-version-cipher-parameters.sh
  controllerconfig/controllerconfig/upgrade-scripts/05-oidc-service-parameters-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/06-security-kubeapi-service-parameters-apply.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add out-of-tree drivers during upgrade by default
  controllerconfig/controllerconfig/upgrade-scripts/02-add-service-parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Sync system-local-ca in subcloud upgrade
  controllerconfig/controllerconfig/upgrade-scripts/35-sync-system-local-ca-in-subclouds.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Use IP address over FQDN for dcmanager rabbit/db connections
  sysinv/sysinv/sysinv/sysinv/puppet/dcmanager.py
  sysinv/sysinv/sysinv/sysinv/puppet/dcorch.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Add out-of-tree drivers during upgrade by default"
  controllerconfig/controllerconfig/upgrade-scripts/02-add-service-parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
