Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

configutilities-tox-pylint:
  parent: tox
  description: Run pylint tests for configutilities
  required-projects:
  - openstack/stx-update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c configutilities/configutilities/tox.ini

stx-devstack-config:
  parent: stx-devstack-base
  timeout: 7800
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: functional
    devstack_services:
      horizon: false
      fm-common: true
      fm-api: true
      sysinv-agent: true
      sysinv-api: true
  ...

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Update nova overrides to fix console addressing
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Add replica and anti-affinity settings
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Pulling application image from specified registry
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Enable Barbican provisioning in SM in kubernetes environment
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Move heat static configs to Armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Move gnocchi and ceilometer static configs
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add DNS requirement for kubernetes and helm.
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: puppet-manifests-lint

Add replica settings for mariadb ingress pod
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

retry func iconfig_update_file when host personality is None
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Prevent download and creation of default Cirros glance image
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Ignore error on k8s taint removal from puppet
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: puppet-manifests-lint

Move DNS requirement into kubernetes::master
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: puppet-manifests-lint

Move horizon static configs to Armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Temporarily disable iptables restore during puppet
  puppet-manifests/src/manifests/controller.pp
Due: puppet-manifests-lint

Boost sm process priority in VBox environment
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Fix improper move of gnocchi config
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Nova - Add ephemeral pool creation
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Solve the stx-openstack reapply issue on controller-1
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Allow user specified registries for config_controller
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/insecuredockerregistry.conf.erb
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubelet.conf.erb
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Suppress lldp frames on virtual interfaces
  puppet-manifests/src/modules/platform/templates/lldp.conf.erb
Due: puppet-manifests-lint

Update sriov interfaces to discover pci_addresses prior to host-unlock
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix to not restart alias interface
  puppet-manifests/src/bin/apply_network_config.sh
Due: puppet-manifests-lint

Unable to access horizon after http port changed
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

The --kubernetes flag no longer has an effect.
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ceph
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.default
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ipv6
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region_nuage_vrs
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update .gitreview for f/keystone-db
  .gitreview
Due: none

Configure Openstack public endpoint FQDN
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove optionality of kubernetes from manifests
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/config.pp
  puppet-manifests/src/modules/platform/manifests/dns.pp
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/manifests/etcd.pp
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/manifests/nfv.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Fix k8s firewall blocks docker proxy port
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: puppet-manifests-lint

Update latest image tag to align with master branch build
  sysinv/sysinv/sysinv/sysinv/helm/common.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Disable iscsi multipath for 3PAR
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Configure anti-affinity for coredns pods
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: puppet-manifests-lint

Remove maintenance of two manifest files
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Support fine-grained service enablement
  .zuul.yaml
  devstack/lib/stx-config
  devstack/plugin.sh
  devstack/settings
Due: stx-devstack-config

Docker Registry Keystone Authentication
  controllerconfig/controllerconfig/scripts/controller_config
  puppet-manifests/src/modules/platform/files/registry-token-server
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/dockerdistribution.conf.erb
  puppet-manifests/src/modules/platform/templates/registry-cert-extfile.erb
  puppet-manifests/src/modules/platform/templates/registry-token-server.conf.erb
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/dockerdistribution.py
  workerconfig/workerconfig/worker_config
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Add replica and anti-affinity to rbd-provisioner
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[devstack] cleanup in stx-config
  devstack/lib/stx-config
  devstack/plugin.sh
Due: stx-devstack-config

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*
