Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

ceph: enable storage model if storage nodes provisioned
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove auto-provisioning of huge pages
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove neutronclient calls from sysinv
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/ovs.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Enable pylint checks for unsubscriptable-object
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/partition.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_partition.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_pv.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

stx-monitor Application Flexible Config and Upgrade
  kubernetes/applications/stx-monitor/stx-monitor-helm/stx-monitor-helm/manifests/monitor_manifest.yaml
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/elastic.py
  sysinv/sysinv/sysinv/sysinv/helm/logstash.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_monitor.py
  sysinv/sysinv/sysinv/sysinv/puppet/monitor.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Puppet support for authenticated registries
  puppet-manifests/src/modules/platform/manifests/client.pp
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/get-secret-payload.erb
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Remove novaclient references from sysinv code
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Allow locking simplex controller
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Unsuppress and cleanup pep8 whitespace errors
  sysinv/sysinv/sysinv/sysinv/agent/disk.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/remotelogging.py
  sysinv/sysinv/sysinv/sysinv/api/hooks.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_sensorgroup.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Enable kubernetes SCTPSupport feature
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  tools/docker/images/Dockerfile
  tools/docker/images/Readme.rst
Due: puppet-manifests-lint

Add alarm for worker in ceph-mon
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

ceph: remove unused service parameters code
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

StarlingX open source release updates
  tsconfig/.gitignore
  tsconfig/LICENSE
  tsconfig/PKG-INFO
  tsconfig/centos/build_srpm.data
  tsconfig/centos/tsconfig.spec
  tsconfig/scripts/tsconfig
  tsconfig/tsconfig/LICENSE
  tsconfig/tsconfig/setup.py
  tsconfig/tsconfig/tsconfig/__init__.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Spectre/meltdown kernel options controllable by customer
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Restore proper iscsi target config file
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Add paths required for external Ceph to tsconfig
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Add various config complete file flag to tsconfig
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Resolve bashate and pep8 warnings
  tsconfig/tsconfig/setup.py
Due: none

Add pylint support
  tsconfig/scripts/tsconfig
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Update tsconfig SW_VERSION to dummy value when running unit tests
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Fix StringIO and ConfigParser import issue for Python2/3 compatible code.
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Add hooks for python wheel generation
  tsconfig/centos/tsconfig.spec
Due: none

Update config to set values as string, rather than unicode
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Change compute node to worker node personality
  tsconfig/scripts/tsconfig
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Platform process pinning
  tsconfig/centos/build_srpm.data
  tsconfig/scripts/tsconfig
Due: none

Configurable Host HTTP/HTTPS Port Binding
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Adding unit tests to tsconfig and clean it up a bit
  tsconfig/tsconfig/.coveragerc
  tsconfig/tsconfig/.stestr.conf
  tsconfig/tsconfig/requirements.txt
  tsconfig/tsconfig/setup.cfg
  tsconfig/tsconfig/test-requirements.txt
  tsconfig/tsconfig/tox.ini
  tsconfig/tsconfig/tsconfig/tests/__init__.py
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
Due: none

Update py35 jobs to py37
  tsconfig/tsconfig/tox.ini
Due: none

Backup and Restore Support for containerized StarlingX
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Followup opendev cleanup and test jobs
  tsconfig/tsconfig/tox.ini
Due: none

Update tsconfig for cluster-host interface
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

tsconfig: Move scripts into tsconfig
  tsconfig/centos/build_srpm.data
  tsconfig/tsconfig/scripts/tsconfig
Due: none

Add files for tsconfig deb packaging
  tsconfig/debian/control
  tsconfig/debian/rules
Due: none

Update tox.ini files to use stein constraints
  tsconfig/tsconfig/tox.ini
Due: none

Add test framework for patch alarm manager
  tsconfig/tsconfig/pylint.rc
  tsconfig/tsconfig/tox.ini
Due: none

Enable Unused Variable
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
Due: none

Collapse the glance filesystem into platform
  tsconfig/centos/build_srpm.data
  tsconfig/tsconfig/scripts/tsconfig
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Set PLATFORM_RELEASE=19.09
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
Due: none
