Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

FIX: module rename issue for Python 2/3 compatible code
  controllerconfig/controllerconfig/controllerconfig/common/rest_api_utils.py
  controllerconfig/controllerconfig/controllerconfig/sysinv_api.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/rest_api.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/policy.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix additional puppet-lint warnings and errors
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
  puppet-manifests/src/modules/openstack/manifests/client.pp
  puppet-manifests/src/modules/openstack/manifests/glance.pp
  puppet-manifests/src/modules/openstack/manifests/heat.pp
  puppet-manifests/src/modules/openstack/manifests/horizon.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/openstack/manifests/murano.pp
  puppet-manifests/src/modules/openstack/manifests/neutron.pp
  puppet-manifests/src/modules/openstack/manifests/nova.pp
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/manifests/firewall.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/manifests/memcached.pp
  puppet-manifests/src/modules/platform/manifests/ntp.pp
  puppet-manifests/src/modules/platform/manifests/params.pp
  puppet-manifests/src/modules/platform/manifests/remotelogging.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  puppet-manifests/tox.ini
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/keystone/auth.pp
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/keystone/auth.pp
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/manifests/init.pp
  puppet-modules-wrs/puppet-patching/src/patching/manifests/keystone/auth.pp
  puppet-modules-wrs/tox.ini
Due: none

Clean up and standardize landing pages
  api-ref/source/index.rst
  doc/source/index.rst
  releasenotes/source/index.rst
Due: none

Cleanup pylint errors in sysinv
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/community.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/log.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/amqp.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/matchmaker.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Remove mox from cgtsclient tests
  sysinv/cgts-client/cgts-client/cgtsclient/tests/test_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/utils.py
  sysinv/cgts-client/cgts-client/test-requirements.txt
  sysinv/cgts-client/cgts-client/tox.ini
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

enable replicas of most nova pods
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Update puppet module tox.ini files for puppet-lint
  puppet-manifests/tox.ini
  puppet-modules-wrs/tox.ini
Due: none

Make collectd startup dependent on networking Anchor
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/collectd.pp
  puppet-manifests/src/modules/platform/manifests/influxdb.pp
Due: none

Helm chart image overrides cleanup
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

[Trivialfix]Fix typos in docstring
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Create docker-lv in the automatically created ctgs-vg volume group
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  puppet-manifests/src/modules/platform/manifests/lvm.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/lvg.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Make LLDP OVS agent driver more robust to json output
  sysinv/sysinv/sysinv/sysinv/agent/lldp/drivers/ovs/driver.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Upversion tiller image to v2.12.1
  puppet-manifests/src/modules/platform/manifests/helm.pp
Due: none

Set neutron tests to disabled.
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Build stx-openstack-helm without requiring networking
  centos_pkg_dirs
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/stx-openstack-helm.spec
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/files/index.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/files/repositories.yaml
Due: none

Update .gitreview for f/stein
  .gitreview
Due: none

Make lldp check neighbors more robust for config_management
  controllerconfig/controllerconfig/controllerconfig/config_management.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Kubernetes Cluster Network Configuration
  configutilities/configutilities/configutilities/common/configobjects.py
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.cluster
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
  puppet-manifests/src/modules/platform/manifests/config.pp
  puppet-manifests/src/modules/platform/manifests/dns.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/manifests/network.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/dnsmasq.conf.erb
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Enclose Barbican API host into square brackets in case of IPv6
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/openstack/manifests/barbican.pp
Due: none

Update configutilities version
  configutilities/centos/build_srpm.data
  configutilities/centos/configutilities.spec
  configutilities/configutilities/configutilities/README
  configutilities/configutilities/configutilities/setup.py
  configutilities/configutilities/setup.py
Due: configutilities-tox-flake8

Update nova helm chart overrides for service creation
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Enable neutron sriov backend
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Set bridge-nf-call-arptables
  puppet-manifests/src/modules/platform/manifests/sysctl.pp
Due: none

Add Barbican bootstrap and runtime manifests
  configutilities/centos/build_srpm.data
  configutilities/configutilities/configutilities/common/validator.py
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/manifests/bootstrap.pp
  puppet-manifests/src/modules/openstack/manifests/barbican.pp
  puppet-modules-wrs/puppet-sysinv/centos/build_srpm.data
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/barbican.py
  sysinv/sysinv/sysinv/sysinv/puppet/inventory.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, configutilities-tox-flake8

Fix mtce.pp to handle missing /etc/rmonfiles.d directory
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/mtce.pp
Due: none

Ensure /etc/kubernetes/manifests directory exists
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: none

/etc/ceph/ceph.client.None.keyring not created on standby controller
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
Due: none

Increase keystone-api termination grace period
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Ceph for standard: System Inventory CLI, API, DB
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ceph_mon.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ceph_mon_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/083_ceph_mon_tasks.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Disable setup of AODH on bare metal controller for stein
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: none

Prevent host unlock without cluster-host interface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Add cluster-host IP for worker node in /etc/hosts
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix address allocation for cluster-host interface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Helm repository replication
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: none

Ceph for standard: Puppet functional changes
  puppet-manifests/src/hieradata/global.yaml
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/lib/facter/configured_ceph_monitors.rb
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

SM monitors cluster-host floating IP
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: none

Unsuccessful controller fs resizing without error indication
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Handle config file without cluster network
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Pass user credentials when pull/push images from local docker registry
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint
