Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Replace compiled crushmaps with human readable versions
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-dx.bin
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.bin
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-controller-model.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-storage-model.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap.bin
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Ceph for standard: Semantic checks
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Stein: Change latest tag to align to master
  sysinv/sysinv/sysinv/sysinv/helm/common.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Stein: Remove custom nova scheduler filters
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Stein: Update neutron overrides
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Stein: Remove ceilometer transformer support
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Stein: Update cinder backup driver
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Enable Telemetry services
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Fix random build failures in cgts-client for missing pbr
  sysinv/cgts-client/centos/cgts-client.spec
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

DRBD Filesystem Resizing Stuck
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Revert "Pass user credentials when pull/push images from local docker registry"
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Enable configurable vswitch memory
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  puppet-manifests/src/modules/platform/templates/ovs.disable-dpdk-init.erb
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/imemory_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile_shell.py
  sysinv/sysinv/sysinv/etc/sysinv/profileSchema.xsd
  sysinv/sysinv/sysinv/sysinv/agent/node.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ovs.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_profile.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Improve robustness of helm-override-update
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Support 'True' and 'False' input for system commands
  sysinv/cgts-client/cgts-client/cgtsclient/v1/isystem_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/network_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update nova helm overrides for cold migration
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Add docker proxy configuration for kubernetes
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/templates/dockerproxy.conf.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix missing default route on worker nodes
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

fail to apply manifests when management ip is missing
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Stein: Update ceilometer overrides
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

[Devstack] remove etc/sysinv/crushmap.bin install in devstack
  devstack/lib/stx-config
Due: stx-devstack-config

Kubernetes Neutron VIM Host Management Refactoring
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Allow DNS server configuration for kubernetes
  configutilities/configutilities/configutilities/__init__.py
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/test_answerfile.py
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Revert "Add docker proxy configuration for kubernetes".
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/templates/dockerproxy.conf.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Remove nova storage aggregates
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Ensure puppet dns config done after networking config
  puppet-manifests/src/modules/platform/manifests/dns.pp
Due: none

Change version of python-ldap to work with new setuptools
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

[Doc] API Content Gaps Missing Interface
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Add docker proxy configuration for kubernetes
  configutilities/configutilities/configutilities/__init__.py
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/templates/dockerproxy.conf.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Add remote storage label for nova local backing
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Update .gitreview for f/ceph_mimic_upgrade
  .gitreview
Due: none

Platform process pinning
  worker-utils/centos/build_srpm.data
  worker-utils/centos/worker-utils.spec
  worker-utils/worker-utils/Makefile
  worker-utils/worker-utils/affine-tasks.service
  worker-utils/worker-utils/affine-tasks.sh
Due: none

Add helm chart for galera arbitrator
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/stx-openstack-helm.spec
  kubernetes/helm-charts/garbd/Chart.yaml
  kubernetes/helm-charts/garbd/requirements.yaml
  kubernetes/helm-charts/garbd/templates/bin/_garbd.sh.tpl
  kubernetes/helm-charts/garbd/templates/configmap-bin.yaml
  kubernetes/helm-charts/garbd/templates/deployment.yaml
  kubernetes/helm-charts/garbd/templates/job-image-repo-sync.yaml
  kubernetes/helm-charts/garbd/templates/network_policy.yaml
  kubernetes/helm-charts/garbd/values.yaml
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

[Devstack] rename sysinv-agent and check sysinv services
  devstack/lib/stx-config
  devstack/plugin.sh
Due: stx-devstack-config

Add support for galera based mariadb replication
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Create makefile for storageconfig
  storageconfig/centos/storageconfig.spec
  storageconfig/storageconfig/Makefile
Due: none

Trigger application reapply on host unlock/delete
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kube-stx-override.conf.erb
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix multi-net interface configuration
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint

Fix mtu configuration for dns and nfs
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-flake8, sysinv-tox-pylint
