Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

.zuul.yaml:

---
- project:
    templates:
      - build-openstack-docs-pti
    check:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    gate:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    post:
      jobs:
        - publish-stx-api-ref
        - publish-stx-tox
        - publish-stx-releasenotes

- job:
    name: sysinv-tox-py27
    parent: tox
    description: |
      Run py27 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: sysinv-tox-flake8
    parent: tox
    description: |
      Run flake8 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: controllerconfig-tox-flake8
    parent: tox
    description: Run flake8 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-py27
    parent: tox
    description: Run py27 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-pylint
    parent: tox
    description: Run pylint tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: pylint
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: configutilities-tox-flake8
    parent: tox
    description: Run flake8 tests for configutilities
    files:
      - configutilities/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c configutilities/configutilities/tox.ini

Add publish job for docs
  .zuul.yaml
  doc/source/conf.py
  doc/source/index.rst
  releasenotes/source/conf.py
Due: none

Correct checking of swift_enabled service param
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Another test of api-ref and releasenotes publish jobs
  api-ref/source/index.rst
  releasenotes/source/index.rst
Due: none

Containerization, support 2 keystones in sysinv
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/api.pp
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/puppet/inventory.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Upversion tiller to align with helm 2.11.0
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/helm.pp
Due: none

Fix next issue for Python 2/3 compatible code.
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/amqp.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_kombu.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_qpid.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_zmq.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Standby controller filesystem sizes check
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Puppet: enforce OVS init/config order
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
Due: none

Vlan lower interface should not have class set
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Modify default lldp system description
  puppet-manifests/src/modules/platform/manifests/lldp.pp
  puppet-manifests/src/modules/platform/templates/lldp.conf.erb
  puppet-manifests/src/modules/platform/templates/lldpd.default.erb
  sysinv/sysinv/sysinv/sysinv/puppet/ovs.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Create hugepage mountpoints where openstack-helm expects it.
  puppet-manifests/src/modules/platform/manifests/compute.pp
Due: none

iscsi multipath support
  puppet-manifests/src/manifests/compute.pp
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
  puppet-manifests/src/modules/openstack/manifests/nova.pp
  puppet-manifests/src/modules/platform/manifests/multipath.pp
  puppet-manifests/src/modules/platform/templates/multipath.conf.erb
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Fix LLDP driver manager call drivers routine
  sysinv/sysinv/sysinv/sysinv/agent/lldp/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Generate openrc file in /etc/platform
  controllerconfig/controllerconfig/controllerconfig/openstack.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/manifests/bootstrap.pp
  puppet-manifests/src/manifests/compute.pp
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/manifests/upgrade.pp
  puppet-manifests/src/modules/openstack/manifests/client.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/client.pp
  puppet-manifests/src/modules/platform/manifests/mtce.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/openrc.admin.erb
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Set neutron dhcp host agent scheduler to host-based
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/hieradata/controller.yaml
Due: none

Update override generation framework
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Enhance helm override generator to support Armada
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Updates to the existing Keystone overrides
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Containerization exception removal
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update puppet-manifests for kubernetes 1.12
  puppet-manifests/src/modules/platform/files/kubelet-service-conf
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: none

Uprev calico from 3.1.3 to 3.2.3
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/rbac-kdd.yaml.erb
Due: none

OVS: fix memory pool allocation for virtual environment
  sysinv/sysinv/sysinv/sysinv/agent/node.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Make config_management input instructions clearer
  controllerconfig/controllerconfig/controllerconfig/config_management.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add Armada manifest for the stx-openstack application
  kubernetes/README
  kubernetes/applications/stx-openstack/manifest.yaml
  kubernetes/helm-charts/placeholder/placeholder.txt
Due: none

Switch non-OpenStack helm charts to "BaseHelm" base class
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
  sysinv/sysinv/sysinv/sysinv/helm/memcached.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Updates to the existing Ingress overrides
  sysinv/sysinv/sysinv/sysinv/helm/ingress.py
Due: sysinv-tox-py27, sysinv-tox-flake8

[Doc] openstackdocstheme starlingxdocs theme
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Create route to system controller for mgmt vlan
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add logging configuration to nova-api-proxy
  puppet-manifests/src/hieradata/controller.yaml
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/manifests/config.pp
Due: none

Updates to the existing Heat overrides
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Docs need to build without upper-constraaints
  tox.ini
Due: none

Add hooks for python wheel generation
  centos_wheels.inc
  configutilities/centos/configutilities.spec
  controllerconfig/centos/controllerconfig.spec
  sysinv/cgts-client/centos/cgts-client.spec
  sysinv/sysinv/centos/sysinv.spec
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

sysinv pnet support without neutron extension
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Introduce support for Ironic chart overrides
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/ironic.py
Due: sysinv-tox-py27, sysinv-tox-flake8
