Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py36:
  parent: tox
  description: 'Run py36 test for sysinv
  
    '
  nodeset: ubuntu-bionic
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py36
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py36:
  parent: tox
  description: Run py36 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py36
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

config-tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-py36:
  parent: tox
  description: Run py36 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: py36
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

config-tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Preserve ceph monitor order for overrides
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable IPv6 address DNS lookup in sssd
  sysinv/sysinv/sysinv/sysinv/puppet/sssd.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Hieradata is not updated after admin password change
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Set section as optional parameter for apply cli
  sysinv/cgts-client/cgts-client/cgtsclient/v1/service_parameter_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Implementation of cli command and API to enable/disable apparmor module
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/126_apparmor.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

New service parameter for Intel NIC multi-drivers
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fixed AttributeError handling in rpc dispatcher
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/dispatcher.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Reorder plugin deactivation [1]
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Rework plugin deactivation [2]
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Change deactivation logic to use realpath
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix incorrect label assignment to oidc parameters.
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add missing PSAC labels to flux-helm namespace
  sysinv/sysinv/sysinv/sysinv/helm/common.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update sssd configuration during subcloud rehoming
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve log messages on sysinv-api ocf script
  sysinv/sysinv/sysinv/scripts/sysinv-api
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Debian: config: update debian_iso_image.inc
  debian_iso_image.inc
Due: none

Adjust partition sysinv data from template
  controllerconfig/controllerconfig/upgrade-scripts/10-update-centos-partition-to-debian.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/partition.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pci_device.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pv.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/127_upgrade_add_upgrading_enum.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

OIDC upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/50-validate-oidc-auth-apps.py
  controllerconfig/controllerconfig/upgrade-scripts/70-upgrade-oidc-auth-apps.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Configure internal/admin endpoints for vim on DC
  sysinv/sysinv/sysinv/sysinv/puppet/dcorch.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix sssd IPv6 address detection in DC system
  sysinv/sysinv/sysinv/sysinv/puppet/sssd.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Configurable postgresql parameters with validation
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fail parameter apply if AD mandatory params missed
  sysinv/sysinv/sysinv/sysinv/puppet/sssd.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update OIDC upgrade script for 22.12
  controllerconfig/controllerconfig/upgrade-scripts/50-validate-oidc-auth-apps.py
  controllerconfig/controllerconfig/upgrade-scripts/70-upgrade-oidc-auth-apps.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Create/Remove Debian UEFI mac based grub '.cfg' file links
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Disable enumerate for AD domains
  sysinv/sysinv/sysinv/sysinv/puppet/sssd.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change default behavior of the platform core utilization
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Upgrade script for controller-platform-nfs
  controllerconfig/controllerconfig/upgrade-scripts/69-update-nfs-ip-address-alias.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add upgrade notification for system commands
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ipv_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/partition_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Avoid masking err while creating self-signed cert
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable enumerate for local openldap domain
  sysinv/sysinv/sysinv/sysinv/puppet/sssd.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AppFwk: Add FluxCD recovery logic for apply operation
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Pre-upgrade check to verify FS allocation
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Skip 67 activation script for DC subcloud upgrade
  controllerconfig/controllerconfig/upgrade-scripts/67-update-openldap-users.sh
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Added the support of ACC200 device
  sysinv/sysinv/sysinv/sysinv/common/device.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix load-import error on DC upgrade
  sysinv/cgts-client/cgts-client/cgtsclient/v1/load.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Alarm 500.200 "expiring soon" not updating after change
  sysinv/sysinv/sysinv/sysinv/cert_alarm/audit.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add PSAC labels to only managed namespaces
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Increase the audit interval of upgrade status to 180 seconds
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

debian: Add sysinv wheel to the build
  debian_stable_wheels.inc
Due: none

Fix semantic checks returning template message to user
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/common.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add retry during k8s api server down
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
