Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint, tsconfig__tox-pylint, tsconfig__tox-py27, tsconfig__tox-py39, tsconfig__tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py39:
  parent: tox-py39
  description: 'Run py39 test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: py39
    python_version: 3.9
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  - starlingx/utilities
  - starlingx/update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  nodeset: debian-bullseye
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py39:
  parent: tox-py39
  description: Run py39 tests for controllerconfig
  nodeset: debian-bullseye
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py39
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

tsconfig__tox-pylint:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run pylint tests for tsconfig
  vars:
    tox_envlist: pylint
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py27:
  parent: tox
  nodeset: ubuntu-xenial
  description: Run py27 tests for tsconfig
  vars:
    tox_envlist: py27
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-py39:
  parent: tox-py39
  description: Run py39 tests for tsconfig
  nodeset: debian-bullseye
  vars:
    tox_envlist: py39
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

tsconfig__tox-flake8:
  parent: tox
  description: Run flake8 tests for tsconfig
  nodeset: ubuntu-bionic
  vars:
    tox_envlist: flake8
    tox_extra_args: -c tsconfig/tsconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Avoid copying symlink content to fix sanity issue
  controllerconfig/controllerconfig/scripts/controller_config
  controllerconfig/controllerconfig/scripts/controllerconfig.service
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update dns hostname validation for host-records
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix positional argument error when running the 76 script.
  controllerconfig/controllerconfig/upgrade-scripts/76-remove-armada-if-unused.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Create kube_app_bundle table
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/134_kube_app_bundle.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_app_bundle.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Removal of K8S Ansible Pb from Conductor init
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Armada image not found by script 76
  controllerconfig/controllerconfig/upgrade-scripts/76-remove-armada-if-unused.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Introduce support for multiple application bundles
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  sysinv/sysinv/sysinv/sysinv/common/app_metadata.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/inotify.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Optimizing image downloads
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable SR-IOV for slave interface of bond
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add default ha_priority value and remove value pruning
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

PTP: disable E810 UART interfaces on GNSS receiver
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update .gitreview for f/kernel-6.6
  .gitreview
Due: none

Puppet hieradata does not properly interpret an IPv4-mapped IPv6
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Setup debian build directory and ipsec-auth package
  debian_iso_image.inc
  debian_pkg_dirs
  sysinv/ipsec-auth/debian/deb_folder/changelog
  sysinv/ipsec-auth/debian/deb_folder/control
  sysinv/ipsec-auth/debian/deb_folder/copyright
  sysinv/ipsec-auth/debian/deb_folder/ipsec-auth.dirs
  sysinv/ipsec-auth/debian/deb_folder/ipsec-auth.install
  sysinv/ipsec-auth/debian/deb_folder/rules
  sysinv/ipsec-auth/debian/deb_folder/source/format
  sysinv/ipsec-auth/debian/meta_data.yaml
  sysinv/ipsec-auth/files/LICENSE
  sysinv/ipsec-auth/files/ipsec-server.service
Due: none

Add upgrade script for subcloud phase deploy
  controllerconfig/controllerconfig/upgrade-scripts/96-adjust-subcloud-deploy-state.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Decoding the enc chars in err msg in load import
  sysinv/sysinv/sysinv/sysinv/api/middleware/parsable_error.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix health check during DC orchestration
  sysinv/cgts-client/cgts-client/cgtsclient/v1/health.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Make management IP address static for WORKER and STORAGE nodes
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Create pxeboot interface config files to support new mgmt L2 ipsec
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform_firewall.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Initial implementation of IPsec Auth Server
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/cmd/ipsec_server.py
  sysinv/sysinv/sysinv/sysinv/common/rest_api.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/__init__.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/__init__.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/constants.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/__init__.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Initial implementation of IPsec Auth Client
  sysinv/sysinv/debian/deb_folder/sysinv.install
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/cmd/ipsec_client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/__init__.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/config.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add semantic check for Restore in progress
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/upgrade.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add log messages to IPSec Auth Server and Client
  sysinv/ipsec-auth/debian/deb_folder/ipsec-auth.dirs
  sysinv/ipsec-auth/debian/deb_folder/ipsec-auth.install
  sysinv/ipsec-auth/debian/deb_folder/rules
  sysinv/ipsec-auth/files/ipsec-auth.logrotate
  sysinv/ipsec-auth/files/ipsec-auth.syslog
  sysinv/sysinv/sysinv/sysinv/cmd/ipsec_client.py
  sysinv/sysinv/sysinv/sysinv/cmd/ipsec_server.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/client.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/config.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/common/utils.py
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/server/server.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add new sysinv unauthenticated mgmt_ip api lookup based on mac address
  sysinv/sysinv/sysinv/sysinv/api/config.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update dns imageRepository to support k8s upgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix sriov-device-plugin config for pci-passthrough
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Raise alarm on secret "sc-adminep-ca-certificate" at subcloud
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add pxeboot network support to sysinv conductor
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update IPSec config generated by ipsec auth client
  sysinv/sysinv/sysinv/sysinv/ipsec_auth/client/config.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Avoid copy of encryption-provider from drbd location
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-py27, controllerconfig-tox-py39, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update conductor mpath partitions check
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Persist iSCSI Initiator Name, NVMe hostid and hostnqn [1/2]
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/135_nvme_host.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/host.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py39, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update apps during Kubernetes upgrade
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/app_metadata.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Scope NTP config to controller hosts only
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Report port and device inventory after the worker manifest
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_pci.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove support for ignoring k8s isolated CPUs in sysinv
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add coredump default service parameters
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Report port and device inventory after the worker manifest"
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_pci.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix misleading app status after failed override update
  sysinv/sysinv/sysinv/etc/sysinv/sysinv.conf
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

config: don't open demote file
  sysinv/sysinv/sysinv/sysinv/agent/node.py
Due: sysinv-tox-py39, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py39: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py39: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  tsconfig__tox-pylint: any of: tsconfig/*
  tsconfig__tox-py27: any of: tsconfig/*
  tsconfig__tox-py39: any of: tsconfig/*
  tsconfig__tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py39: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
