Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

fix influxdb log file cannot be collected by logrotate
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/modules/platform/templates/logrotate.erb
Due: puppet-manifests-lint

Helm Cinder support multiple Ceph backends
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix accessing SysinvObject optional foreign fields
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Support Helm user overrides for generic applications
  sysinv/cgts-client/cgts-client/cgtsclient/v1/helm_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/ingress.py
  sysinv/sysinv/sysinv/sysinv/helm/memcached.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Beef up sysinv URL validator
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/debian/control
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix the apply issue after uploading an app twice
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update tox.ini files to use stein constraints
  .gitignore
  controllerconfig/controllerconfig/controllerconfig/tidy_storage.py
  controllerconfig/controllerconfig/tox.ini
  sysinv/cgts-client/cgts-client/tox.ini
  sysinv/sysinv/sysinv/tox.ini
  sysinv/sysinv/sysinv/upper-constraints.txt
  tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Remove deprecated instance_backing from sysinv code
  api-ref/source/api-ref-sysinv-v1-config.rst
  puppet-manifests/src/modules/platform/manifests/worker.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg_shell.py
  sysinv/sysinv/sysinv/etc/sysinv/profileSchema.xsd
  sysinv/sysinv/sysinv/etc/sysinv/sampleProfile.xml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/lvg.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Enable nova service token
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Fixing puppet-lint failures in zuul
  playbooks/tox-puppet-lint/pre.yaml
Due: none

Remove datanetworks param from interface commands
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/interface_datanetwork.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_datanetwork.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Remove magnum from baremetal.
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/puppet/inventory.py
  sysinv/sysinv/sysinv/sysinv/puppet/magnum.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-modules-wrs-lint

Fix the helm override update cmd with option --reset
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Change default pod tolerations to 30sec
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
Due: puppet-manifests-lint

Fix the helm-upload failure on controller-1
  puppet-manifests/src/modules/openstack/manifests/horizon.pp
Due: puppet-manifests-lint

Set pipefail when invoking Armada command
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Change the default value of sysinv-api bind host
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/api.pp
Due: puppet-modules-wrs-lint

AIO-SX: Fix adding OSD at runtime hanging when /dev/rbd* are mounted
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: puppet-manifests-lint

Add checks to deny adding secondary tiers before ceph is up
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

delete nginx-ports-control chart before stx-openstack re-apply
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Create new host_fs postgres table
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/089_host_fs.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/host_fs.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

fix hugepage allocation overflow
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix the error links for config docs
  doc/source/index.rst
Due: none

Fix adding data network to sriov interface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_datanetwork.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove the return value for disk_format_gpt
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Allow adding routes on the cluster host network
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/route.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove obsolete logs in application framework
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Removing unused cinder references from bare metal
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_external.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/cinder.py
  sysinv/sysinv/sysinv/sysinv/puppet/inventory.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix invalid syntax in pm_qos_mgr.py
  pm-qos-mgr/src/pm_qos_mgr/pm_qos_mgr.py
Due: none

Cleanup keystone service parameters
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
  sysinv/sysinv/sysinv/sysinv/tests/test_utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove ironic service parameters
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ironic.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

New host_fs APIs documentation
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Fix unable to create vm with GPU/Crypto passthrough devices
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Create new host_fs CLI and API
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/host_fs.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/host_fs_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/helm/garbd.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

nova overrides: set long rpc timeout and cpu_mode
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Reraise exception and log error message
  sysinv/sysinv/sysinv/sysinv/cmd/api.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add https helm override for telemetry public endpoints
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add https helm override for Barbican and Heat
  sysinv/sysinv/sysinv/sysinv/helm/barbican.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

ANSIBLE Bootstrap changes for System Controller
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/dcmanager.pp
  puppet-manifests/src/modules/platform/manifests/dcorch.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/manifests/postgresql.pp
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/api.pp
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/client.pp
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/db/postgresql.pp
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/db/sync.pp
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/deps.pp
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/init.pp
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/manager.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/api_proxy.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/client.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/db/postgresql.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/db/sync.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/deps.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/engine.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/init.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/snmp.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Zero Touch Provisioning changes for subcloud configuration
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
Due: puppet-manifests-lint
