Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

CEPH: Adding OSD storage devices no longer need nodes to be locked
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/istor_shell.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

For stability bump size of rabbitmq PV to 1Gi
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Optimize the installation of ceph-pools-audit
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Create a service account for ceph-pools-audit cron job
  kubernetes/helm-charts/ceph-pools-audit/templates/job-ceph-pools-audit.yaml
  kubernetes/helm-charts/ceph-pools-audit/values.yaml
Due: none

Fix the dependencies in the ceph-pools-audit chart
  kubernetes/helm-charts/ceph-pools-audit/values.yaml
Due: none

Enable Distributed Cloud configuration
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/regionconfig.py
  controllerconfig/controllerconfig/controllerconfig/systemconfig.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ceph
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.default
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ipv6
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region_nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.can_ips
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.result
  controllerconfig/controllerconfig/controllerconfig/tests/test_region_config.py
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/openstack/templates/keystone-defaultregion.erb
  puppet-manifests/src/modules/openstack/templates/keystone-systemcontroller.erb
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/openrc.admin.erb
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/keystone/auth.pp
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Put py27 and py35 jobs back on Xenial
  .zuul.yaml
  sysinv/sysinv/sysinv/requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix Python3 iso8601 UTC change
  sysinv/sysinv/sysinv/sysinv/objects/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_objects.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Provide helm chart for containerized Barbican service
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/barbican.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Increase tolerance for declaring neutron agents down
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Increase tolerance for declaring nova services down
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Add missing rpm dependencies to sysinv
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove nova-api requirement from sysinv OCF scripts
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/scripts/sysinv-api
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Set DevStack install dir to /usr/local by default
  devstack/lib/stx-config
  devstack/plugin.sh
Due: stx-devstack-config

Remove Resource Monitor ; aka rmon, from the load
  controllerconfig/controllerconfig/controllerconfig/utils.py
  puppet-manifests/src/modules/platform/manifests/mtce.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/remotelogging.conf.erb
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Remove unused puppet modules
  centos_pkg_dirs
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/centos/puppet-manifests.spec
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/openstack/manifests/nova.pp
  puppet-manifests/src/modules/openstack/manifests/swift.pp
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/lvm.pp
  puppet-manifests/src/modules/platform/manifests/worker.pp
  puppet-modules-wrs/puppet-nova_api_proxy/PKG_INFO
  puppet-modules-wrs/puppet-nova_api_proxy/centos/build_srpm.data
  puppet-modules-wrs/puppet-nova_api_proxy/centos/puppet-nova_api_proxy.spec
  puppet-modules-wrs/puppet-nova_api_proxy/src/LICENSE
  puppet-modules-wrs/puppet-nova_api_proxy/src/LICENSE.readme
  puppet-modules-wrs/puppet-nova_api_proxy/src/Makefile
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/lib/puppet/provider/proxy_api_paste_ini/ini_setting.rb
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/lib/puppet/provider/proxy_config/ini_setting.rb
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/lib/puppet/type/proxy_api_paste_ini.rb
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/lib/puppet/type/proxy_config.rb
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/manifests/config.pp
  puppet-modules-wrs/puppet-nova_api_proxy/src/nova_api_proxy/manifests/init.pp
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Add notices on Intel authored files.
  config-gate/files/Makefile
  devstack/lib/stx-config
  devstack/override-defaults
  devstack/plugin.sh
  devstack/settings
  puppet-manifests/src/Makefile
  puppet-modules-wrs/puppet-dcmanager/src/Makefile
  puppet-modules-wrs/puppet-dcorch/src/Makefile
  puppet-modules-wrs/puppet-fm/src/Makefile
  puppet-modules-wrs/puppet-mtce/src/Makefile
  puppet-modules-wrs/puppet-nfv/src/Makefile
  puppet-modules-wrs/puppet-patching/src/Makefile
  puppet-modules-wrs/puppet-smapi/src/Makefile
  puppet-modules-wrs/puppet-sshd/src/Makefile
  puppet-modules-wrs/puppet-sysinv/src/Makefile
  storageconfig/storageconfig/Makefile
Due: stx-devstack-config, puppet-manifests-lint, puppet-modules-wrs-lint

Distributed Cloud configuration
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
Due: puppet-manifests-lint

Neutron Router Rebalancing on L3 Agents
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Keystone DB sync - update puppet manifest for dcdbsync service
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/centos/puppet-manifests.spec
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/templates/keystone-policy.json.erb
  puppet-manifests/src/modules/platform/manifests/dcdbsync.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/puppet/dcdbsync.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Keystone DB sync - sysinv to re-auth when receives 401
  sysinv/sysinv/sysinv/sysinv/api/middleware/auth_token.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove remote-clients SDK Module from StarlingX
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/centos/cgts-client.spec
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Keystone DB sync - add fernet key repo reset API
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/fernet_repo.py
  sysinv/sysinv/sysinv/sysinv/common/fernet.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Optional https for containerized openstack
  controllerconfig/controllerconfig/scripts/controller_config
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/values.yaml
  puppet-manifests/src/modules/platform/manifests/client.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Keystone DB sync - add service puppet module
  centos_pkg_dirs
  puppet-modules-wrs/puppet-dcdbsync/PKG_INFO
  puppet-modules-wrs/puppet-dcdbsync/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcdbsync/centos/puppet-dcdbsync.spec
  puppet-modules-wrs/puppet-dcdbsync/src/LICENSE
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/LICENSE
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/lib/puppet/provider/dcdbsync_config/ini_setting.rb
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/lib/puppet/type/dcdbsync_config.rb
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/api.pp
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/init.pp
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/keystone/auth.pp
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/params.pp
Due: puppet-modules-wrs-lint

Create the stable wheel file
  centos_stable_wheels.inc
Due: none

Switch to new DevStack base job
  .zuul.yaml
Due: none

Replace openstack.org git:// URLs with https://
  playbooks/tox-puppet-lint/pre.yaml
Due: none

delete config option fatal_deprecations to sysinv-api
  sysinv/sysinv/sysinv/sysinv/openstack/common/log.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[devstack] launch sysinv-api
  .zuul.yaml
Due: none

enable N/Y as valiable input for Distributed Cloud Configuration
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add PTP monitoring to collectd
  puppet-manifests/src/modules/platform/manifests/ptp.pp
  puppet-manifests/src/modules/platform/templates/phc2sys.service.erb
  puppet-manifests/src/modules/platform/templates/ptp4l.service.erb
Due: puppet-manifests-lint

Tie nova-local semantic check to openstack-compute label
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Tie vswitch core changes to openstack-compute label
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Dynamic helm plugins
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Support ovs in container
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Enable security group support for OVS agent
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add mode 2 to supported LAG mode for cluster interface
  configutilities/configutilities/configutilities/common/validator.py
Due: configutilities-tox-flake8, configutilities-tox-pylint

REST API doc update for interface and network
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none
