Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py36: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-py36: any of: controllerconfig/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  config-tox-pylint: any of: tsconfig/*
  config-tox-py27: any of: tsconfig/*
  config-tox-py36: any of: tsconfig/*
  config-tox-flake8: any of: tsconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-py36: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Temporary skip part of SAN certificates tests for DebianOS
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix Stevedore plugin usage for Debian OS
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

py3: Change sorted function usage
  sysinv/sysinv/sysinv/scripts/manage-partitions
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AIO-SX PCI device swap with the same vendor/device-id, no mgmt intf
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Skip renewal if the cert file doesn't exist
  sysinv/sysinv/sysinv/scripts/kube-cert-rotation.sh
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

py3: fix manager.py _get_public_bytes() to handle bytes
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix to prevent platform address deletion
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change error handling for cert validity check
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix requirements for sysinv dependent packages
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix the timeout so as not to fail to obtain cert
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cert Alarm service
  sysinv/sysinv/sysinv/sysinv/cert_alarm/certificate_alarm_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/service.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_alarm/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_alarm/data/cert.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_alarm/data/expired-cert.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_alarm/test_cert_alarm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AIO-SX mgmt interface swap with the same vendor/device-id
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Disk space availability check on ISO copy
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/load.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

py3: Add py39 gate for sysinv
  .zuul.yaml
  bindep.txt
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add support to handle Kubernetes mutating webhooks
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Include 'unknown' sync state in startup audit
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Align watch resourceVersion with newest python2-kubernetes API
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

CLIs for kube rootca update procedure
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_rootca_update_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_rootca_update.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_rootca_update_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Kube rootca update abort - API
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_rootca_update.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_rootca_update.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix alarm clearing after resize of database
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Cert-Alarm FM interface
  sysinv/sysinv/sysinv/sysinv/cert_alarm/certificate_alarm_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/fm.py
  sysinv/sysinv/sysinv/sysinv/cert_alarm/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_alarm/test_cert_alarm.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix download image registry exception message
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

nohz_full not equal isolcpus
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support ghcr docker registry service parameters
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Removing Host Hardware Profiles from CLI
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ihost.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Return tuple in method that resizes filesystems
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

New upgrade script for service parameters
  controllerconfig/controllerconfig/upgrade-scripts/60-svc-param-upgrade.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Update start_import_load RPC timeout
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

k8s upgrade networking before first controller
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Delete profile i_host from db on upgrade migration
  controllerconfig/controllerconfig/upgrade-scripts/95-del-profile-ihost.py
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Add gate for python 3.9
  .zuul.yaml
  controllerconfig/controllerconfig/requirements.txt
  controllerconfig/controllerconfig/tox.ini
  sysinv/cgts-client/cgts-client/tox.ini
  tsconfig/tsconfig/tox.ini
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint, config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8, cgtsclient-tox-py27, cgtsclient-tox-py36, cgtsclient-tox-pep8, cgtsclient-tox-pylint

API reference for kube-rootca-update procedure
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Add subcloud audit parallelization
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/subcloud_audit_queue.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_subcloud_audit_queue.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add pylint py3 portability checks for the controllerconfig
  controllerconfig/controllerconfig/pylint.rc
Due: controllerconfig-tox-py27, controllerconfig-tox-py36, controllerconfig-tox-flake8, controllerconfig-tox-pylint

Fix kube-upgrade-download-images step
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove sriov_vfs/reported # of VFs from hieradata
  sysinv/sysinv/sysinv/sysinv/puppet/device.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix bad syntax in requirements.txt file
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/netconf.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handle network-level issues during subcloud audit
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
Due: sysinv-tox-py27, sysinv-tox-py36, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add pylint py3 portability checks for the tsconfig repo
  tsconfig/tsconfig/pylint.rc
  tsconfig/tsconfig/test-requirements.txt
  tsconfig/tsconfig/tox.ini
Due: config-tox-pylint, config-tox-py27, config-tox-py36, config-tox-flake8
