Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/update
  - starlingx/fault
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/update
  - starlingx/fault
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pylint:
  parent: tox
  description: 'Run pylint test for cgts-client
  
    '
  required-projects:
  - starlingx/update
  - starlingx/fault
  - starlingx/integ
  vars:
    tox_environment:
      STX_PREFIX: ''
    tox_envlist: pylint
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

enabling fm containerization log to host log files.
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-etc.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

Fix stuck config out of date alarm on worker nodes
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Configure calico-ipam for multus k8s pod network
  puppet-manifests/src/modules/platform/templates/multus.yaml.erb
Due: puppet-manifests-lint

Update SR-IOV CNI images to StarlingX versions
  puppet-manifests/src/modules/platform/templates/sriov-cni.yaml.erb
  puppet-manifests/src/modules/platform/templates/sriovdp-daemonset.yaml.erb
Due: puppet-manifests-lint

Integration with latest SR-IOV CNI images
  puppet-manifests/src/modules/platform/manifests/network.pp
  puppet-manifests/src/modules/platform/templates/sriov.bind-device.erb
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/port_shell.py
  sysinv/sysinv/sysinv/etc/sysinv/profileSchema.xsd
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ethernet_port.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/port.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile_utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/085_sriov_vf_driver.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/interface.py
  sysinv/sysinv/sysinv/sysinv/objects/port.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Update rbd-provisioner replicas based on installed controllers
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/platform/stx-platform/stx-platform-helm/centos/build_srpm.data
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix large number of nginx worker issue
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Use derived docker_no_proxy values if not provided
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/tasks/main.yml
Due: none

Set value for individual registry service parameter
  playbookconfig/playbookconfig/playbooks/bootstrap/host_vars/default.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/tasks/bringup_helm.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/tasks/bringup_kubemaster.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/tasks/main.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/files/populate_initial_config.py
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/prepare-env/tasks/main.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/validate-config/tasks/main.yml
Due: none

Fix: SR-IOV device plugin config file mount
  puppet-manifests/src/modules/platform/templates/sriovdp-daemonset.yaml.erb
Due: puppet-manifests-lint

Account for vswitch hugepage count on memory modify
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/memory.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Increase the ansible timeout for service endpoint reconfiguration
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/tasks/main.yml
Due: none

Remove config_controller --force option
  controllerconfig/controllerconfig/controllerconfig/systemconfig.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix: Duplicate puppet resource for SR-IOV VF driver
  puppet-manifests/src/modules/platform/manifests/network.pp
Due: puppet-manifests-lint

Restart kubelet after hugepage allocation
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: puppet-manifests-lint

Cleanup sysinv tox py27 warnings
  sysinv/sysinv/sysinv/.stestr.conf
  sysinv/sysinv/sysinv/sysinv/tests/api/base.py
  sysinv/sysinv/sysinv/sysinv/tests/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add "allow_resize_to_same_host=true" to nova chart
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

ipv6 cluster networking support
  controllerconfig/controllerconfig/scripts/controller_config
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/tasks/bringup_flock_services.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/tasks/bringup_kubemaster.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/tasks/setup_registry_certificate_and_keys.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/templates/calico-cni.yaml.j2
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/templates/kubelet.conf.j2
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/templates/multus-cni.yaml.j2
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/templates/sriov-cni.yaml.j2
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/templates/sriov-plugin.yaml.j2
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/bringup-essential-services/vars/main.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/tasks/main.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/validate-config/tasks/main.yml
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/manifests/network.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/manifests/sysctl.pp
  puppet-manifests/src/modules/platform/templates/dnsmasq.conf.erb
  puppet-manifests/src/modules/platform/templates/dockerdistribution.conf.erb
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubelet.conf.erb
  puppet-manifests/src/modules/platform/templates/registry-cert-extfile.erb
  puppet-manifests/src/modules/platform/templates/registry-token-server.conf.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/docker_registry.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  workerconfig/workerconfig/worker_config
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Cleaning up murano references on bare metal.
  api-ref/source/api-ref-sysinv-v1-config.rst
  controllerconfig/controllerconfig/controllerconfig/clone.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/050_consolidated_r4.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/puppet/murano.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Fix mariadb nginx worker number issue
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Enable ceph-audit to run even if stx-openstack is not running
  kubernetes/helm-charts/ceph-pools-audit/values.yaml
  kubernetes/platform/stx-platform/stx-platform-helm/centos/build_srpm.data
Due: none

update nfv-vim puppet runtime manifests and config files
  puppet-manifests/src/modules/platform/manifests/nfv.pp
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/alarm.pp
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/event_log.pp
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/vim.pp
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

add registry.local as a default no_proxy url.
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/validate-config/tasks/main.yml
Due: none

Fix fm-rest-api pod crash when starting on 1st time
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

Get swift working on containerized openstack
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/swift.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Disable raise/get/clear NFV alarm to container fm-rest-api
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/alarm.pp
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/event_log.pp
  puppet-modules-wrs/puppet-nfv/src/nfv/manifests/vim.pp
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-modules-wrs-lint

Rework task state machine for storage backend provision replication
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Map armada logs to /var/log/armada
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove references to pacemaker from sysinv
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/agent.pp
  sysinv/sysinv/sysinv/sysinv/cluster/__init__.py
  sysinv/sysinv/sysinv/sysinv/cluster/cluster_services.py
  sysinv/sysinv/sysinv/sysinv/cluster/cluster_services_api.py
  sysinv/sysinv/sysinv/sysinv/cluster/cluster_services_dump
  sysinv/sysinv/sysinv/sysinv/cluster/cluster_xml.py
  sysinv/sysinv/sysinv/sysinv/cluster/pacemaker.py
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-modules-wrs-lint

Referencing the new OVS docker image
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Complete inventory before reconfiguring endpoints
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Application update support
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/086_kube_app_application_unique_constraint.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/087_kube_application_releases.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_app.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_app_releases.py
  sysinv/sysinv/sysinv/sysinv/tests/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

A bug in swift containerization was breaking provisioning
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Persist bootstrap playbook config output file
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/prepare-env/tasks/main.yml
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/prepare-env/vars/main.yml
Due: none

Remove the is_kubernetes checks from sysinv
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/files/populate_initial_config.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/cinder.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

remove .unlock_ready when unlocking simplex with openstack applied
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Generate ironic overrides for helm chart
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/ironic.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

containerized fm public endpoint can not be accessed
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service-ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

Fix sanity issue during controller unlock
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix controllerfs-modify related bugs
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*
